$core_v2_page.SetContentType("text/css")

.omnicell-admin-training-choices {}
    .omnicell-admin-training-choices .gallery-panel { border-bottom: dotted 2px #ddd; padding-bottom: 15px; }
    .omnicell-admin-training-choices ul { list-style:none;margin:0;padding:0 0 0 20px; }
    .omnicell-admin-training-choices h2 { margin: 15px 0 5px; }
    .omnicell-admin-training-choices h3 { margin: 15px 0 3px; }
    .omnicell-admin-training-choices h4 { margin: 0 0 5px; color:#999; font-size: 11px; }
    
    .omnicell-admin-training-choices a.omnicell-submit-button { padding:0 0 0 8px; letter-spacing:0.4px; font-size:14px; background: url("$core_v2_widget.GetFileUrl('btnButton.png')") no-repeat scroll right -27px transparent; color: #6E727D; display: inline-block; font-weight: bold; height: 27px; line-height: 27px; margin-left: 10px; min-width: 50px; position: relative; z-index: 3; text-decoration:none; }
    .omnicell-admin-training-choices a.omnicell-submit-button span { background: url("$core_v2_widget.GetFileUrl('btnButton.png')") no-repeat scroll left top transparent; display: inline-block; height: 27px; left: -5px; position: absolute; top: 0; width: 7px;}
    
    .omnicell-admin-training-choices a.omnicell-submit-button.disabled { color:#bbb; }
    
    .omnicell-admin-training-choices .loading-msg {display:none; padding-left:8px;}