#set($dt = false)
#set($dt = $omnicell_v1_documenttype.Get($currDocumentType))

#set($dtText = $core_v2_language.GetResource('Omnicell_All_Types'))
#if($dt)
    #set($dtText = $dt.Value)
#end

<a href="#" class="omnicell-filter-list-button" id="$core_v2_widget.UniqueId('documentTypeButton')"><span></span>$core_v2_language.GetResource('Omnicell_Type_Label') $dtText</a>
<div id="$core_v2_widget.UniqueId('documentTypeMenu')"></div>

<script type="text/javascript">

   jQuery(function(){
    
    var documentTypeButton = $("#$core_v2_widget.UniqueId('documentTypeButton')");
    var documentTypeMenu = $("#$core_v2_widget.UniqueId('documentTypeMenu')");
    
    documentTypeMenu.glowPopUpMenu({
        groupCssClass: 'menu moderation-content menu__moderation-content',
        itemCssClass: 'menu-item menu__moderation-content__menu-item',
		itemSelectedCssClass: 'menu-item hover menu__moderation-content__menu-item__hover',
		itemExpandedCssClass: 'menu-item expanded',
		position: 'down',
		zIndex: 100,
		iconWidth: 30,
		iconHeight: 30,
		menuItems: [
            ['0', '$core_v2_language.GetResource('Omnicell_All_Types')', '$core_v2_page.AdjustQueryString($filterQs, "$documentTypeParam=")' ]
        #foreach($type in $omnicell_v1_documenttype.List())
            , [$type.Id, '$type.Value', '$core_v2_page.AdjustQueryString($filterQs, "$documentTypeParam=$type.Id")' ]
        #end
        ]
	});

	documentTypeButton.click(function()
	{
		if (!documentTypeMenu.glowPopUpMenu('isOpen'))
			documentTypeMenu.glowPopUpMenu('open', this);
		else
			documentTypeMenu.glowPopUpMenu('close');
            
		return false;
	});
});
</script>

