$core_v2_page.SetContentType("text/css")

.content-fragment.blog-post-list .content-item.simple {
  border-bottom: 1px dotted #CCCCCC;
  border-top: none;
  padding: .1em 0 !important;
}

.content-fragment.blog-post-list .abbreviated-post {
  margin: 0;
  padding: 0;
}

.content-fragment.blog-post-list .abbreviated-post .post-name {
  font-size: 12px;
  margin-bottom: 0;
  margin-right: 5px;
  overflow: hidden;
  padding-top: 14px;
}

.content-fragment.blog-post-list .abbreviated-post .post-author {
  text-transform: capitalize;
  font-size: 11px;
}

.content-fragment.blog-post-list .abbreviated-post .post-author .user-name a {
  font-weight: bold;
}

.content-fragment.blog-post-list .content-list.simple .post-author .avatar {
  display: none;
}

.content-fragment.blog-post-list .content-list.simple .content-item .post-date .label {
  display: none;
}

.content-fragment.blog-post-list .content-list .post-date .value {
  margin-left: 0px;
}

.content-fragment.blog-post-list .content-list .post-date,
.content-fragment.blog-post-list .content-list .post-author {
	display: inline;
	font-size: 11px;
	color: #666;
}
