$core_v2_page.SetContentType("text/css")

.fetch-home-link {
	margin: 10px 10px 10px 0;
	z-index: 11;
}

.fetch-home-link .main-fetch {
  border: 1px solid #000;
  padding: 0px 10px;
  margin-top: 0 !important;
}

.fetch-home-link .main-fetch h3 {
	display: block;
  font-size: 1.17em;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

.fetch-home-link .main-fetch p {
	display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
