$core_v2_page.SetContentType("text/css")

.home-search-ask .submit-buttons .search-button {
  padding-right: 0 !important;
  float: left;
}

.site-search .home-search-ask .submit-buttons {
  margin: -20px 321px -40px !important;
  padding: 20px 5px 30px !important;
}
