img {
	border: none;
}
.content-fragment.thread-list .abbreviated-post.verified-answered .post-thumbnail {
	background: url("http://omnicell75.local/cfs-file.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/answered.png") repeat scroll 0 0 transparent;
	height: 16px;
	width: 16px;
	top: 0;
}
.content-fragment.thread-list .abbreviated-post.not-answered .post-thumbnail {
	background: url("http://omnicell75.local/cfs-file.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/unanswered.png") repeat scroll 0 0 transparent;
	height: 16px;
	width: 16px;
	top: 0;
}
.header-fragments-header {
	background: none;
	background-color: #fff;
}
.header-fragments .layout  {
	border-top: 10px solid #F3F3F2;
}
.content-fragment-page {
	background: none;
	background-color: #fff;
	overflow:hidden;
}
.content-fragment.site-user-navigation a {
	color: #999898;
}
.content-fragment.site-user-navigation a {
    margin: 0 0 0 8px;
    padding: 0 0 0 8px;
}
/*breadcrumbs */

.breadcrumb-list{
	background-color: #F4F4F3;
	font-size: 10px;
	height: 21px;
	margin-top: 0;
	padding: 10px 0 0 0;
}
.breadcrumb-item:last-child a {
	color: #52524a;
}

.breadcrumb-list .separator{
	background: url("http://omnicell75.local/cfs-file.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/breadcrumbseparator.png") top right no-repeat;
	margin-top: 0;
	padding: 10px 0 7px;
	color: #F4F4F3;
}
.breadcrumb-list a, .breadcrumb-list a:link, .breadcrumb-list a:visited, .breadcrumb-list a:hover, .breadcrumb-list a:active {
    font-weight: normal;
    outline: medium none;
    text-decoration: none;
}
.breadcrumb-list .internal-link.view-home  {
  color: #5F9933;
  margin-left: -3px;
}
.breadcrumb-list .internal-link.view-home a, .breadcrumb-list .internal-link.view-home a:link, .breadcrumb-list .internal-link.view-home a:visited, .breadcrumb-list .internal-link.view-home a:hover, .breadcrumb-list .internal-link.view-home a:active  {
  color: #5F9933;
 }
.breadcrumb-list .breadcrumb-item a, .breadcrumb-list .breadcrumb-item  a:link, .breadcrumb-list .breadcrumb-item a:visited, .breadcrumb-list .breadcrumb-item a:hover, .breadcrumb-list .breadcrumb-item a:active{
    color: #79c041;
}
.breadcrumb-list.breadcrumb-item:last-child a, .breadcrumb-list .breadcrumb-item:last-child a:link, .breadcrumb-list .breadcrumb-item:last-child a:visited, .breadcrumb-list .breadcrumb-item:last-child a:hover, .breadcrumb-list .breadcrumb-item:last-child a:active{ 
	color: #52524a;
}
.breadcrumb-list .breadcrumb-item {
	background-color: #F3F3F2;
    color: #79c041;
    margin: 0 3px;
	padding-left: 5px;
}
/*custom home page banner */

.content-fragment .custom-banner  {
	padding: 0;
	width: 100%;
	height:65px;
}

.content-fragment .custom-banner  .left{
	width:155px;
	top: -40px; 
	position: absolute;
}
.content-fragment .custom-banner  .right{
	float:left;
	width:520px;
	top: -40px; 
	left: 155px;
	position: absolute;
}

 .custom-banner  .omnicell-logo {
  border: medium none;
  height: 107px;
  width: 146px;
}

.custom-banner  h2.group-name {
	color: #7FA3B7;
	font-size: 24px;
	font-weight: bold;
	letter-spacing: -1.25px;
    margin: 8px 0 0;
	border: none;
}
 .custom-banner .welcome-text {
  font-size: 16px;
  margin: 0;
  color: #52524a;
}
 .custom-banner .personal-links {
	color: #5F9933;
}
 .custom-banner .personal-links span{
	padding-right: 10px;
	margin-right: 7px;
	border-right: 1px solid #5F9933;
}
.content-fragment .custom-banner .personal-links  a, 
.content-fragment .custom-banner .personal-links a:link, 
.content-fragment .custom-banner .personal-links a:visited, 
.content-fragment .custom-banner .personal-links a:hover, 
.content-fragment .custom-banner .personal-links a:active {
  font-size: 16px;
  text-decoration: none;
  color: #5F9933;
  font-weight: normal;
}
.content-fragment .custom-banner .personal-links .last-link {
	border: none;
}

/* deprecated
.content-fragment .custom-banner .group-banner .group-banner-info {
	margin: 0;
}
.content-fragment .custom-banner .group-banner .group-banner-info h2 {
	border: none;
}
 .custom-banner .group-banner .group-banner-info .group-avatar {
  border: medium none;
  display: table;
  height: 107px;
  width: 146px;
  padding: 2px;
  position: absolute;
  top: 20px;
}
.custom-banner .group-banner .group-banner-info .group-name {
	color: #7FA3B7;
	font-size: 24px;
	font-weight: bold;
	letter-spacing: -1.25px;
    margin: 0;
    padding: 26px 240px 0 155px;
}
 .custom-banner .group-banner .group-banner-info .group-description {
  font-size: 16px;
  margin: 0;
  padding: 0 60px 0 155px;
  color: 52524a;
}
 .custom-banner .group-banner .group-banner-info .personal-links {
	color: #5F9933;
	float: left;
	display: block;
	padding: 0 100px 20px 155px;
}
 .custom-banner .group-banner .group-banner-info .personal-links span{
	padding-right: 10px;
	margin-right: 7px;
	border-right: 1px solid #5F9933;
}
.content-fragment .custom-banner .group-banner .group-banner-info .personal-links  a, 
.content-fragment .custom-banner .group-banner .group-banner-info .personal-links a:link, 
.content-fragment .custom-banner .group-banner .group-banner-info .personal-links a:visited, 
.content-fragment .custom-banner .group-banner .group-banner-info .personal-links a:hover, 
.content-fragment .custom-banner .group-banner .group-banner-info .personal-links a:active {
  font-size: 16px;
  text-decoration: none;
  color: #5F9933;
  font-weight: normal;
}
.content-fragment .custom-banner .group-banner .group-banner-info .personal-links .last-link {
	border: none;
}
*/

/*custom search/ask bar */
.content-fragment  .home-search-ask {
	padding: 6px 5px 3px 5px;
	width: 100%;
	margin: 10px 0;
	background-color: #f2f2f1;
}
.content-fragment  .home-search-ask input {
	width: 672px;
	margin-bottom: 12px;
	font-size: 20px;
	height: 30px;
	color: #ddd;
	font-weight: normal;
	font: arial;
}
.content-fragment.site-search .internal-link.search-options {
	float: right;
	}
.content-fragment .home-search-ask .submit-buttons {
  background-color: #F2F2F3;
/*  margin: -20px 225px -40px;*/
  margin: -20px 275px -40px;
  padding: 20px 5px 30px;
  text-align: center;
/*  width: 220px;*/
  width: 100px;
}
.home-search-ask .submit-buttons .search-button {
	padding-right: 15px;
	float: left;
}
.home-search-ask .submit-buttons .ask-button {
	float: right;
}
/*announcment */
.content-fragment.no-wrapper.html-content .content-fragment-content, .content-fragment.no-wrapper-with-spacing.html-content .content-fragment-content {
  clear: both;
}

/*custom my stuff */
.custom-my-stuff {
	font-size: 12px;
	color: #6a747c;
	margin: 10px 0;
}
.custom-my-stuff a, .custom-my-stuff a:link, .custom-my-stuff a:visited, .custom-my-stuff a:hover, .custom-my-stuff a:active{
	color: #6a747c;
	font-size: 12px;
	font-weight: bold;
}
.custom-my-stuff img {
  padding: 5px 5px 8px 0;
}
/*left and right regions*/
.layout-content.content-left-sidebar-right .layout-region.right-sidebar {
	background-color: #f2f2f1;
	margin-left: 20px;
	width: 250px;
	padding-bottom:1500px;
	margin-bottom:-1500px;
	
}
.layout-content.content-left-sidebar-right .layout-region.content {
	border-right: #d4e7c4 solid 1px;
	padding-right: 20px;
	 margin-top: 10px;
}

.common-home .layout-content.content-left-sidebar-right .layout-region.content {
	 margin-top: 40px;
}


/* Custom bottom widget */
.custom-bottom-widget .custom-bottom-left {
	float: left;
	width: 249px;
	margin: 10px 0 0 0;
	padding: 0;
}
.custom-bottom-widget .custom-bottom-right {
  float: left;
  margin: 10px 0 0 1px;
  padding: 0;
  width: 439px;
/*  overflow:hidden; */
}

.product-add-edit {
	float:right;
	margin-top:8px;
	margin-right:5px
}
.product-add-edit a,
.product-add-edit a:link,
.product-add-edit a:visited,
.product-add-edit a:hover,
.product-add-edit a :active
{
	background-color: #fff;
	color: #52a539 !important;
	font-size: 11px !important;	
}

.user-userprofile .layout-region-inner > .content-fragment.thread-list {
	float: right;
	width:249px;
}

.custom-bottom-widget .custom-bottom-right .content-fragment.thread-list {
	float: right;
	margin: 10px 0 0 0;
	padding: 0;
}
.custom-bottom-widget .custom-bottom-left .content-fragment.thread-list {
	margin: 10px 0 0 0;
	padding: 0;
}
.custom-bottom-widget .custom-bottom-left .product a, .custom-bottom-widget .custom-bottom-left .product a:link, .custom-bottom-widget .custom-bottom-left .product a:visited, .custom-bottom-widget .custom-bottom-left .product a:hover, .custom-bottom-widget .custom-bottom-left .product a:active {
	color: #52524a;
	font-size: 14px;
	font-weight: normal;
}
.custom-bottom-widget .custom-bottom-left  .product-list .product.selected {
	background: url("http://omnicell75.local/cfs-file.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/selectedproduct.png") no-repeat left center;
}
.custom-bottom-widget .custom-bottom-left  .product-list {
	border-left: 1px solid #D4E7C5;
	border-right: 1px solid #D4E7C5;
}
.custom-bottom-widget .custom-bottom-left  .product-list .product img {
	margin: 5px 5px 5px 0;
}
.custom-bottom-widget .custom-bottom-left .scroll-up img{
	margin-top: 8px;
	border-left: 1px solid #D4E7C5;
}
.custom-bottom-widget .custom-bottom-left .scroll-up {
	border-left: 1px solid #D4E7C5;
}
.custom-bottom-widget .custom-bottom-left .scroll-down{
	border-left: 1px solid #D4E7C5;
	
}
.scroll-down img {
	height: 14px !important; 
}
.scroll-down {
	height: 14px !important; 
	margin-bottom: 5px;
}
.custom-bottom-widget .custom-bottom-left .all-products {
	background-color: #7ac142;
	color: #fff;
	font-size: 14px;
	text-align: center;
}
.custom-bottom-widget .custom-bottom-left .all-products a, .custom-bottom-widget .custom-bottom-left .all-products a:link, .custom-bottom-widget .custom-bottom-left .all-products a:visited, .custom-bottom-widget .custom-bottom-left .all-products a:hover, .custom-bottom-widget .custom-bottom-left .all-products a:active {
	background-color: #7ac142;
	color: #fff;
	font-size: 14px;
	text-align: center;
	font-weight: normal;
}
.custom-bottom-widget .custom-bottom-right .content-fragment.thread-list .table-list {
	border-left: 1px solid #D4E7C5;
	width: 100%;
	margin: 0;
}
.custom-bottom-widget .custom-bottom-right .content-fragment.thread-list.myproducts{
	left:-2px;
	position:relative;
	width: 439px;
}

.custom-bottom-widget .custom-bottom-right .content-fragment.thread-list .table-list .table-item {
	border-bottom: 1px solid #f5f5f5;
}
.custom-bottom-widget .custom-bottom-right .content-fragment.thread-list .table-list .table-item  td{
	height: 33px;
}
.custom-bottom-widget .custom-bottom-right .content-fragment.thread-list .table-column {
	padding: 0;
}
.custom-bottom-widget .custom-bottom-right h4 {
	padding: 0;
	margin: 0;
}
.custom-bottom-widget .custom-bottom-right .content-fragment.thread-list .table-column.post-name .abbreviated-post {
  padding: 0;
}
.custom-bottom-widget .custom-bottom-right .content-fragment.thread-list .table-column.total-replies .abbreviated-post {
	padding: 0;
}
.custom-bottom-widget .custom-bottom-right .content-fragment.thread-list .content-fragment-content .table-column.post-status {
	padding: 5px 10px;
	width: 18px;
}
.custom-bottom-widget .custom-bottom-right .content-fragment.thread-list .content-fragment-content .table-column.post-date {
	color: #999;
	font-size: 11px;
	width: 125px;
}
.custom-bottom-widget .custom-bottom-right .content-fragment.thread-list .abbreviated-post .post-application {
	color: #999;
	font-size: 11px;
}
.custom-bottom-widget .custom-bottom-right .content-fragment.thread-list .abbreviated-post .post-application a, .custom-bottom-widget .custom-bottom-right .content-fragment.thread-list .abbreviated-post .post-application a:link, .custom-bottom-widget .custom-bottom-right .content-fragment.thread-list .abbreviated-post .post-application a:visited, .custom-bottom-widget .custom-bottom-right .content-fragment.thread-list .abbreviated-post .post-application a:hover, .custom-bottom-widget .custom-bottom-right .content-fragment.thread-list .abbreviated-post .post-applicationa:active {
	color: #999;
	font-size: 11px;
}
.custom-bottom-widget .custom-bottom-right .content-fragment.thread-list .abbreviated-post .post-author {
	color: #999;
	font-size: 11px;
}
.custom-bottom-widget .custom-bottom-right .content-fragment.thread-list .abbreviated-post .post-author a, .custom-bottom-widget .custom-bottom-right .content-fragment.thread-list .abbreviated-post .post-author a:link, .custom-bottom-widget .custom-bottom-right .content-fragment.thread-list .abbreviated-post .post-author a:visited, .custom-bottom-widget .custom-bottom-right .content-fragment.thread-list .abbreviated-post .post-author a:hover, .custom-bottom-widget .custom-bottom-right .content-fragment.thread-list .abbreviated-post .post-author a:active {
	color: #999;
	font-size: 11px;
}
.custom-bottom-widget .custom-bottom-right .content-fragment.thread-list .abbreviated-post .post-name {
	border: none;
	line-height: 80%;
}
.custom-bottom-widget .custom-bottom-right .scroll-down img {
	margin-bottom: 5px
}
.custom-bottom-widget .custom-bottom-right .content-fragment.thread-list .content-fragment-content .view-all {
	background-color: #f2f2f1;
	text-align: center;
	font-size: 14px;
	color: #52524a;
}
.custom-bottom-widget .custom-bottom-right .view-all a, .custom-bottom-widget .custom-bottom-right .view-all a:link, .custom-bottom-widget .custom-bottom-right .view-all a:visited, .custom-bottom-widget .custom-bottom-right .view-all a:hover, .custom-bottom-widget .custom-bottom-right .view-all a:active{
	background-color: #f2f2f1;
	text-align: center;
	font-size: 14px;
	color: #52524a;
	font-weight: normal;
}
.custom-bottom-widget .custom-bottom-right .view-all {
	background-color: #f2f2f1;
	text-align: center;
	font-size: 14px;
	color: #52524a;
	font-weight: normal;
	width: 100%;
}
/*customer page */
.content-fragment.thread-list .table-list {
	width: 100%;
	margin: 0;
}
.content-fragment.thread-list {
	overflow: visible;
}
.content-fragment.thread-list .filter-option {
	padding: 7px;
	border-right: 1px solid #fff;
	height: 14px;
	margin: 0;
	border-collapse: collapse;
}
.content-fragment.thread-list .filter-option.selected {
    border-left: 1px solid #D4E7C5;
    border-right: 1px solid #D4E7C5;
    border-top: 1px solid #D4E7C5;
    height: 14px;
	color: #52524a;
	font-size: 16px;
	border-collapse: collapse;
	
}
.content-fragment.thread-list .filter-option.selected a, .content-fragment.thread-list .filter-option.selected a:link, .content-fragment.thread-list .filter-option.selected a:visited, .content-fragment.thread-list .filter-option.selected a:hover, .content-fragment.thread-list .filter-option.selected a:active{
	font-weight: normal;
	font-size: 16px;
	color: #52524a;
	text-decoration: none;
}
.content-fragment.thread-list .filter .separator {
	background: none;
	margin: -1px;
}
.content-fragment.thread-list .filter {
	clear: both;
	background: none;
	border-bottom: 1px solid #D4E7C5;
	color: #999;
	height: 25px;
	margin: 0;
	font-size: 16px;
	padding: 15px 0 3px 0;
}
.content-fragment.thread-list .filter a, .content-fragment.thread-list .filter a:link, .content-fragment.thread-list .filter a:visited, .content-fragment.thread-list .filter a:hover, .content-fragment.thread-list .filter a:active{
	color: #999;
	text-decoration: none;
	font-size: 16px;
}

.content-fragment.thread-list .table-header {
  display: none;
}
.content-fragment.thread-list .table-column {
  border: none;
  /*padding: 2px 0;*/
}
.content-fragment.thread-list .table-item {
/* border-bottom: 1px solid #f5f5f5;*/
}
.content-fragment.thread-list .table-column.post-name .abbreviated-post {
  padding: 0;
}

.content-fragment.thread-list .table-item  td{
	/*height: 33px;*/
}
.content-fragment.thread-list .table-column.post-status {
	width: 25px;
}
.table-column.post-date {
	color: #999;
	font-size: 11px;
	width: 150px;
}
.content-fragment.thread-list .table-header-column.total-replies-sort, .content-fragment.thread-list .table-column.total-replies {
  text-align: right;
  width: 65px;
}  
.content-fragment.thread-list .table-column.total-replies .abbreviated-post {
	padding: 0;
}
.content-fragment.thread-list .abbreviated-post.read .post-name a, .content-fragment.thread-list .abbreviated-post.read .post-name  a:link, .content-fragment.thread-list .abbreviated-post.read .post-name  a:visited,  .content-fragment.thread-list .abbreviated-post.read .post-name a:hover, .content-fragment.thread-list .abbreviated-post.read .post-name  a:active {
  color: #5F9933;
  font-size: 12px;
}
.content-fragment.thread-list .abbreviated-post .post-application a, .content-fragment.thread-list .abbreviated-post .post-application a:link, .content-fragment.thread-list .abbreviated-post .post-application a:visited, .content-fragment.thread-list .abbreviated-post .post-application a:hover, .content-fragment.thread-list .abbreviated-post .post-application a:active {
  color: #666;
  text-decoration: none;
  font-size: 11px;
}
.content-fragment.thread-list .abbreviated-post.verified-answered .post-attributes {
  display: none;
}
.content-fragment.thread-list .abbreviated-post.verified-answered .post-author {
  display: none;
 }
.content-fragment.thread-list .abbreviated-post.verified-answered .post-date {
  color: #999;
  font-size: 11px;
}
.content-fragment.thread-list .table-column.post-status .post-attributes .internal-link.view-post.forum {
  display: none;
}
.content-fragment.thread-list .abbreviated-post.not-answered .post-author {
  display: none;
}
.content-fragment.thread-list .abbreviated-post.not-answered .post-date {
  font-size: 11px;
  color: #999;
}
.content-fragment.thread-list .abbreviated-post.discussion .post-author {
  display: none;
}
.content-fragment.thread-list .abbreviated-post .post-date .value {
  color: #999;
  font-size: 11px;
}
.content-fragment.thread-list .abbreviated-post .post-reply-count {
  font-size: 11px;
  font-weight: normal;
  color: #999;
}
/*group page */
.content-fragment.group-banner .group-description {
  margin: 0;
  padding: 0 240px 20px 105px;
  color: 52524a;
}
.content-fragment.group-application-navigation .navigation-list {
	border-bottom: 1px solid #D4E7C5;
	background: none;
	color: #999;
	height: 25px;
	margin-left: 0;
	padding: 0;
}
.content-fragment.group-application-navigation .navigation-list a, .content-fragment.group-application-navigation .navigation-list a:link, .content-fragment.group-application-navigation .navigation-list a:visited, .content-fragment.group-application-navigation .navigation-list a:hover, .content-fragment.group-application-navigation .navigation-list a:active {
	color: #999;
	text-decoration: none;
}
.content-fragment.group-application-navigation .navigation-item.selected {
	border-left: 1px solid #D4E7C5;
    	border-right: 1px solid #D4E7C5;
    	border-top: 1px solid #D4E7C5;
    	height: 25px;
	color: #52524a;
	background: none repeat scroll 0 0 #FFF;
	border-collapse: collapse;
}
.content-fragment.group-application-navigation .navigation-item.selected a {
	font-weight: normal;
	font-size: 16px;
}
.content-fragment.group-application-navigation .navigation-item.selected a:link, .content-fragment.group-application-navigation .navigation-item.selected a:visited, .content-fragment.group-application-navigation .navigation-item.selected a:hover, .content-fragment.group-application-navigation .navigation-item.selected a:active{
	color: #52524a;
	text-decoration: none;
}
.content-fragment.group-application-navigation .navigation-item {
	background: #D4E7C5;;
	border-right: 1px solid #fff;
	height: 25px;
	margin: 0px;
	border-left: none;
	border-collapse: collapse;
}

.content-fragment.group-application-navigation .navigation-item.add-post {
	border-right: none;
}
.content-fragment.group-application-navigation .navigation-item a {
	background: none;
	font-size: 16px;
	}
.content-fragment.group-application-navigation .internal-link.add-post {
	background: url("http://omnicell75.local/cfs-file.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/newpost.png") no-repeat scroll left top transparent;
	padding: 3px 74px 0;
	right: 1px; 
	font-size: 0px;
	top: -4px;
}
.content-fragment.group-application-navigation .internal-link.add-post span {
	background: url("http://omnicell75.local/cfs-file.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/newpost.png") no-repeat scroll left top transparent;
	display: none;
}
.forums-threadlist .table-column.post-author {
    width: 50px;
}
.forums-threadlist .content-fragment.thread-list .table-column.post-name {
    width: 100px;
}
.forums-threadlist  .content-fragment.thread-list .table-column.post-status {
    width: 53px;
}
.forums-threadlist .content-fragment.thread-list .table-header-column.total-replies-sort, .forums-threadlist .content-fragment.thread-list .table-column.total-replies {
	width: 16px;
	padding-right: 10px;
}
.forums-threadlist .table-column.post-author .avatar img {
	display: none;
}
.forums-threadlist .content-fragment.thread-list .table-column.post-author .user-name {
	font-size: 11px;
	color: #999;
    display: inline;
}
/*custom footer */
.custom-footer {
	width: 990px;
	border-top: 1px solid #EEEEED;
	padding-top: 20px;
	background-color: #fff;
	margin-top: 5px;
}
.custom-footer .site-links  {
	float: left;
	width: 45%;
}
.custom-footer .site-links ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: left;
}
.custom-footer .site-links ul li {
	display: inline; 
	
}
.custom-footer .site-links ul li a {
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	color: #A39F9F;
	padding: 5px;
}
.copyright {
	padding: 5px;
	color: #B3B2B2;
	font-size: 11px;
	font-weight: normal;
}
.custom-footer .social-links {
	float: right;
	width: 55%;
}
.custom-footer .social-links ul {
	margin: 0 0 0 409px;
	padding: 0;
	list-style-type: none;
	text-align: left;
}
.custom-footer .social-links ul li {
	display: inline; 
	
}
.custom-footer .social-links ul li a {
	float: left;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	color: #A39F9F;
	padding: 0px;
	margin: 0 0 0 5px;
}
.icon, .icon span {
    background: url("http://www.omnicell.com/App_Themes/images/bg-sprite-8.png") no-repeat scroll 0 100px transparent;
    display: block;
    font-size: 0 !important;
    overflow: hidden;
    position: relative;
}
.icon-youtube, .icon-youtube span {
  background-position: -299px 0;
  height: 18px;
  width: 18px;
}
.icon-twitter, .icon-twitter span {
  background-position: -253px 0;
  height: 18px;
  width: 18px;
}
.icon-linkedin, .icon-linkedin span {
  background-position: -276px 0;
  height: 18px;
  width: 18px;
}
.icon-facebook, .icon-facebook span {
  background-position: -230px 0;
  height: 18px;
  width: 18px;
}
.icon-google, .icon-google span {
  background-position: -323px 0;
  height: 18px;
  width: 18px;
}
.footer-fragments-header {
	border: none;
}
.footer-fragments-footer {
	border: none;
}
.footer-fragments {
	padding: 10px 0;
	}
/*general settings */
a:hover {
	text-decoration: underline;
}
.clear {
	clear: both;
}
h1 a:link , h1 a:visited, h1 a:hover, h1 a:active, h2 a:link , h2 a:visited, h2 a:hover, h2 a:active, h3 a:link , h3 a:visited, h3 a:hover, h3 a:active, h4 a:link , h4 a:visited, h4 a:hover, h4 a:active{
	/*-- color: #52524a; --*/
	font-weight: normal;
}
a:link , a:visited, a:hover, a:active{
	color: #5F9933;
}
html, body {
	background-color: #fff !important;
}
img {
	border: none;
}
.announcements {
	background: #f2f2f1;
	margin: 20px 0;
	padding: 10px;
}
.announcements h3 {
	font-size: 14px;
	color: #5F9933;
	border: none;
	padding: 0;
	margin: 0;
	font-weight: normal;
}
.announcements p {
	font-size: 11px;
	color: #999;
	padding: 0;
	margin: 0;
}
/* local and expert members list */

.omnicell-experts-list {
    float: right;
    width: 48%;
	padding-left: 5px;
	
}
.omnicell-members-widget .omnicell-experts-list .content-list-header {
	padding-left: 5px;
}
.omnicell-members-widget .user-name {
    margin-left: 20px !important; 
	color: #52524a;
	font-size: 10px;
}
.omnicell-members-widget .user-name a, .omnicell-members-widget .user-name a:link, .omnicell-members-widget .user-name a:visited, .omnicell-members-widget .user-name a:hover, .omnicell-members-widget .user-name a:active {
	color: #52524a;
	text-decoration: none;
	font-weight: normal;
}
.omnicell-members-widget .content-list .avatar {
	border: none !important;
	position: absolute;
}
.omnicell-members-widget .content-list .content-item {
    border: none;
    border-top: 0 none;
    min-height: 0;
    padding: 5px 0;
    position: relative;
	margin: 0;
}

.omnicell-local-members-list {
    float: right;
	width: 100%;
/*	width: 49%;
	border-right: #d4e7c4 1px solid;*/
}
.omnicell-members-widget .navigation-item {
	font-size: 11px;
	color: #79c041;
}
.omnicell-members-widget .content-list-header {
	border-bottom: #d4e7c4 1px solid;
	margin-left: -5px;
	padding: 0;
	font-size: 16px;
	color: #52524a;
}

.common-home ~ div.header-fragments .site-search {
	display:none;
}

.group-search-ask .header-logo {
	float: left;
	margin: 8px;
}

.group-search-ask .search-bar {
    background-color: #F3F3F2;
    float: right;
    margin: 0;
/*    margin: 0 60px 0 0;*/
    padding: 7px 0 5px 10px;
    width: 430px;
/*    width: 530px;*/
	top:20px;
}
.group-search-ask .search-bar input {
	float: left;
	padding: 0;
	width: 300px;
	height: 24px;
}
.group-search-ask .search-bar .submit-buttons .search-button {
	float: left;
	margin: 0;
	padding: 0 10px;
}
.group-search-ask .search-bar .submit-buttons .ask-button {
	float: left;
	margin: 0;
	padding: 0;
}
.group-search-ask {
	width: 700px;
	overflow: visible;
}
.user-banner .user-name {
	font-size: 24px;
	color: #7fa3b7;
	padding: 17px 0 0 105px;
	line-spacing: normal;
}
.user-userprofile .thread-list.content-fragment div.filter {
	padding:0;
	height:auto;
}

.user-userprofile .content-fragment.with-header .content-fragment-header div{
	font-size: 16px ;
	color: #52524a;
	border: none;
	text-transform: capitalize;
	padding: 0;
}

.user-userprofile .custom-bottom-widget.user-page div.custom-bottom-left div.thread-list.content-fragment div.content-fragment-content {
	padding:6px 0 6px 0;
}
.user-userprofile .custom-bottom-widget.user-page div.custom-bottom-left div.thread-list.content-fragment div.content-fragment-content div.filter {
	border-bottom: solid #D4E7C5 1px;
	height:auto;
	padding:0;
}

.user-userprofile .custom-bottom-widget.user-page div.custom-bottom-left div.thread-list.content-fragment div.content-fragment-content div.filter span.filter-option.selected {
	height:auto;
	padding:0;
}

.user-userprofile .custom-bottom-widget.user-page div.custom-bottom-left div.thread-list.content-fragment div.content-fragment-content div.filter div.product-add-edit {
	margin-top:0px;
}

.user-userprofile .custom-bottom-widget div.custom-bottom-left ,.user-userprofile .custom-bottom-widget div.custom-bottom-left div.thread-list.content-fragment {
	margin-top:0px;
}

.user-userprofile .custom-bottom-widget .custom-bottom-left div.product-list {
	border-top: 1px solid #d4e7c4;
	padding-top: 5px;
}
.user-userprofile .custom-bottom-widget .custom-bottom-left .scroll-down {
	overflow: hidden;
}
.user-userprofile .custom-bottom-widget .custom-bottom-left .scroll-down img {
	margin-left: -10px;
}
.user-userprofile .content-fragment.favorable-content-list.no-wrapper-with-spacing.with-header {
    clear: right;
    float: right;
    width: 249px;
}
.user-userprofile .content-fragment.friendship-list.no-wrapper-with-spacing.with-header {
  clear: right;
  float: right;
   width: 249px;
}
.user-userprofile .content-fragment.friendship-list.no-wrapper-with-spacing.with-header .content-fragment-content {
	border-top: 1px solid #d4e7c4;
	padding-top: 10px;
}
.user-userprofile .content-fragment.friendship-list .user-name, .user-userprofile .content-fragment.friendship-list .user-name a{
	font: arial;
	color: #999;
	font-size: 11px;
	font-weight: normal;
}
.user-userprofile .content-fragment.friendship-list .avatar img {
	max-height: 24px !important;
    max-width: 24px !important;
}
.user-userprofile .content-fragment.with-header.friendship-list .full-post {
	border: none;
}
.user-userprofile .content-fragment.activity-message-list.no-wrapper.with-header {
	clear: left;
	width: 440px;
}
.user-userprofile .content-fragment.activity-message-list.no-wrapper.with-header .content-fragment-content {
	border: 1px solid #d4e7c4;
	padding: 15px 10px;
}
.user-userprofile .content-fragment.activity-message-list .content-list-name {
	display: none;
}

.user-userprofile .content-fragment.activity-message-list .content-list li.content-item {
	padding: 0;
}

.user-userprofile .content-fragment.activity-message-list .full-post .post-author .avatar {
	top: 0;
}
.user-userprofile .content-fragment.activity-message-list .full-post .post-content a, .content-fragment.activity-message-list .full-post .post-content a:link , .content-fragment.activity-message-list .full-post .post-content a:visited, .content-fragment.activity-message-list .full-post .post-content a:hover, .content-fragment.activity-message-list .full-post .post-content a:active {
	color: ;
	font-size: 12;
}

.activity-message-application {
	color:#666 !important;

}

.post-author-name-activity {
	color: #999898 !important;
	font-weight: bold !important;
}

.view-user-profile {
	color: #999898 !important;
	font-weight: bold !important;
}

.filter-option {
	background: #D4E7C5;
}

.user-userprofile #fragment-389_list .internal-link.delete, .internal-link.delete a:link, .internal-link.delete a:visited, .internal-link.delete a:hover, .internal-link.delete a:active {
	color: #ccc;
	font-size: 11px;
}
.user-userprofile .content-fragment.activity-message-list .full-post .post-date{
	color: #ccc;
	font-size: 11px
}

.user-userprofile  .thread-list.content-fragment div.filter {
	clear:none !important;
}

.user-userprofile .custom-bottom-left {
	float: none;
/*	width: 230px;
	margin-bottom: 25px;*/
}
.user-userprofile .content-fragment.thread-list .filter-option.selected {
	border: none;
}
.user-userprofile .custom-bottom-widget .custom-bottom-left .product-list {
	border-left: none;
	border-bottom: none;
	border-right: none;
    overflow: hidden;
}
.user-userprofile .custom-bottom-widget .custom-bottom-left .product-list img {
	max-height: 24px !important;
	max-width: 24px !important;
	 padding-right: 6px;
	 vertical-align: middle;
}
.user-userprofile .custom-bottom-widget .custom-bottom-left .product a {
	font-size: 11px;
}
.user-userprofile .custom-bottom-widget .custom-bottom-left .all-products {
	background-color: #f4f4f3;
	color: #444;
}
.user-userprofile .custom-bottom-widget .custom-bottom-left .all-products a, .user-userprofile .custom-bottom-widget .custom-bottom-left .all-products a:link, .user-userprofile .custom-bottom-widget .custom-bottom-left .all-products a:visited, .user-userprofile .custom-bottom-widget .custom-bottom-left .all-products a:hover, .user-userprofile .custom-bottom-widget .custom-bottom-left .all-products a:active {
	background-color: #f4f4f3;
	color: #444;
}
.user-userprofile .custom-bottom-widget .custom-bottom-left .scroll-up {
	border: none;
	overflow: hidden;
}
.user-userprofile .custom-bottom-widget .custom-bottom-left .scroll-up img {
	margin-left: -10px;
}
.user-userprofile .content-fragment.thread-list .filter {
	border: none;
}
.user-userprofile #fragment-890 .content-list {
	border-top: 1px solid #d4e7c4;
	padding-top: 10px;
}

.user-userprofile #fragment-890 .content-list .content-item {
	border: none;
}

.user-userprofile .custom-bottom-widget .custom-bottom-left .content-fragment.thread-list .product-add-edit {
	/*display: none;*/
}}

.user-userprofile .custom-my-stuff {
	margin: 10px;
}
div.login-left {
	width: 49%; 
	float: left;
}

div.login-right {
	width: 49%; 
	float: left;
}

.login h2 {
    color: #52524A;
    font-size: 16px;
    padding: 0 0 5px 0;
    text-transform: capitalize;
	border-bottom: #d4e7c4 1px solid; 
	margin-bottom: 5px;
}

div.login-banner {
	width:450px;
	float:left;
}

div.register-banner  img{
	width:450px;
}

div.register-banner {
	width:450px;
	float:left;
}


 .content-fragment.login-and-create-user a{
	color:#5F9933;
 }

.content-fragment.login-and-create-user input {
	width:190px;
}

.content-fragment.login-and-create-user input[type="checkbox"] {
	width:auto;
}

 
 .content-fragment.login-and-create-user .register-left {
	width:55%;
	float:left;
 }
 
 .content-fragment.login-and-create-user .register-left span.field-item-description {
	display:none;
} 

 .content-fragment.login-and-create-user .register-right {
	width:178px;
	float:right;
	margin-top:10px;
 }

div.login-banner  img{
	width:450px;
}
.home .group-membership-link {
    float: right;
	padding-top: 7px;
}
.content-fragment.group-banner .group-name {
	font-size: 24px;
	color: #7fa3b7;
	padding: 17px 0 0 105px;
	line-spacing: normal;
}

.content-fragment.group-banner .group-avatar img {
	width: 75px;
/*	height: 75px;*/
}
.user-defined-markup h2 {
	border: none;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

body, html {
    background-color: #EDEDED;
    color: #000;
    font-family: Arial,Helvetica;
    font-size: 13px;
    margin: 0;
    padding: 0;
}
body, html {
    color: #000;
    font-family: Arial,Helvetica;
    font-size: 13px;
}
.field-item-input .internal-link.disabled {
 background: url("http://omnicell75.local/cfs-file.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/button_2D00_sprite.gif") no-repeat scroll right -66px Transparent !important;
    color: #FFF;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    height: 22px;
    line-height: 22px !important;
    margin-left: 22px !important;
    padding: 0 12px 0 0 !important;
    position: relative !important;
    z-index: 3 !important;
}

.field-item-input .internal-link.disabled span {
  background: url("http://omnicell75.local/cfs-file.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/button_2D00_sprite.gif") no-repeat scroll 0 -44px transparent !important;
    display: inline-block;http://www.facebook.com/ajax/emu/end.php?eid=AQLyq4HgffPN1DA1CzfTnicFw1kbToX2zVUTAKZto1AsXmDDgeQqoMAt8DDcsrQaqaQj3W-xKvbJcf228FCJ0O_HRFdaH6pzDc7b5Sqcx4tK1doZR8vQ5kYTkfs9UV6Baca8NFwYqmToqzFH3XdBSfq1ut9c5rLFSWLrj10nNrKD3ix_eZnf2Ah8HTuGCrszzjszYCMyEG-HVXVifgqlqeSoWhhcPbJcIh8hbLJ8Z9dPOIDV0gBROvDp-9yeHy7pltxnSPsR9Xz4E8iTI626xwW7akmxKOqxvrfmtjowCfaQKDGUjLuy_1z4PxNPKdm9uaR5ilGKYf_62YXCE94OchvYHrzMLaexyAbeCCg1-YaTsVXNEso1b2buqhOHP-y9fokgiYmXVBhxBJafa0b7F2JX9T2WytKxMNKHqdanlXpetZj5vI7QpoyUvABEY_WRHj0xqNkT4PBQfbn2osQlKgquWbnf9l6PiBxbbSpTiHF-Uc1PBmd97-Zbo_nXTzyct39czDZDcq7P0bvByudvYRCE0RFiit4-gxs7-JdM2X9m7M3eANIZiVNvoEKTeve3NUogdXvvNfMKpd528bobdzHtaU3meOs2aLm8dgn5x24YwiQocyPe9im9mf8pqzaPq2jl8rl2IirDSQK2tro2b2SYptqys2knmkLVV-0miKSsluvyKw5BDt1KmF9CQXVg6uK9ilXaJDgyyLZp395DbiJ-gxHEXpXlUkvPkd8ojx0WC9jewBD_OLlQMo392jFTvmyP2JWBTBA2soFZkX6-5KvvmEhOfRQ-xHAsQ5S_fB8ccz5C2XLYZSMk_86b97enMcnCgzp6tExFtyXYOg8Ww3rLLFZ-DlO6Qn5sIfeF0aS5ztA9qeY9EOoL4dCNU1rTruxasKSWBluh4SrchPNAuNQ1PyfJLEq9K3WvO-nfnLsBIrtFJlavSDJ3ffrTvgTGMFkFAH_nVUnBCfi94ZHnnURvtvoVy-R6U2ARQ_KSWafunUR_Ov49ZhSRR1OTdh_YbQE_P0g1jhljMeufDFRpODVhI7mY2jFLcfGYDzOetov6Ym-puDT3SDEoAUtBMQLLFhk&f=0&ui=6010086040720-id_50bd08907a05c8019084017&en=1&a=0&sig=126686
    height: 22px;
    left: -12px !important;
    position: absolute !important;
    top: 0 !important;
    width: 12px !important;
 }
 .common-home .custom-my-stuff { 
	margin-left: 10px;
}
.common-logout .fiji-content-fragment-top .fiji-r1, .fiji-content-fragment-top .fiji-r2, .fiji-content-fragment-top .fiji-r3, .fiji-content-fragment-top .fiji-r4, .fiji-content-fragment-bottom .fiji-r1, .fiji-content-fragment-bottom .fiji-r2, .fiji-content-fragment-bottom .fiji-r3, .fiji-content-fragment-bottom .fiji-r4  {
	border: none;
} 

.common-logout .content-fragment-content  {
	border: none;
}
.common-logout .navigation-list .navigation-item:last-child a, .common-logout .navigation-list .navigation-item:last-child a:link, .common-logout .navigation-list.navigation-item:last-child a:visited, .common-logout .navigation-list .navigation-item:last-child a:hover, .common-logout .navigation-list .navigation-item:last-child a:active {
	color: #fff;
}
.common-logout .page .page-name {
	color: #fff;
}

.content-fragment-page .content-fragment.with-header .content-fragment-header div {
	border: medium none;
    color: #53534B;
    font-size: 16px;
    padding: 0;
    text-transform: capitalize;
	border-bottom: 1px solid #D4E7C5;
}
.content-fragment-page .user-defined-markup h2{
    color: #80A4B7;
    font-size: 24px;
    padding: 17px 0;
}

.content-fragment-page .tab-set.with-panes {
    background-color: #fff;
}
.content-fragment-page .tab-set {
	background: none;
}

.content-fragment-page .tab-set.with-panes .tab a, .content-fragment-page .tab-set.with-panes .tab a:visited, .content-fragment-page .tab-set.with-panes .tab {
	color: #999 !important;
    font-size: 16px;
    text-decoration: none;
}
.content-fragment-page .tab-set.with-panes .tab.selected a, .content-fragment-page .tab-set.with-panes .tab.selected, .content-fragment-page .tab-set.with-panes .tab.selected a:visited {
	color: #53534B !important;
    font-size: 16px;
    font-weight: normal;
}

.content-fragment-page .layout-content.split-content .layout-region.right-sidebar .content-fragment, .layout-content.header-top-split-content .layout-region.right-sidebar .content-fragment {
	margin: 0 0 0 5px;
}

.content-fragment.blog-banner .application-banner{
	background:none;
}

.content-fragment.blog-post-comment-form .field-item .internal-link.add-reply{
	background:none;
	color:#5F9933;
}

.content-fragment.blog-post-comment-form .field-item .internal-link.add-reply:hover {
	background:none;
	text-decoration:underline;
}
.content-fragment.blog-post-comment-form .field-item .internal-link.add-reply span, 
.content-fragment.blog-post-comment-form .field-item .internal-link.add-reply:hover span{
	background:none;
}

.content-fragment.media-gallery-post-list .table-column .abbreviated-post .post-name{
	width:250px;
}

.menu.group-application-navigation-content .navigation-item a{
	color:#5F9933;	
}

.navigation-list.omnicelldropdown .navigation-item .group-avatar{
	display:none;
}

.content-fragment.thread-list .abbreviated-post .post-name a, 
.content-fragment.thread-list .abbreviated-post .post-name a:link, 
.content-fragment.thread-list .abbreviated-post .post-name a:visited, 
.content-fragment.thread-list .abbreviated-post .post-name a:hover, 
.content-fragment.thread-list .abbreviated-post .post-name a:active{
	color: #5F9933;
	font-size:12px;
	font-weight:normal;
}

.content-fragment.thread-list.myproducts .content-item.simple{
	margin-left:20px;
}

.content-fragment.media-gallery-post-list .filter{
	height:70px !important;
}

.content-fragment.api-key-list .table-header-column .internal-link.sort-descending, 
.content-fragment.api-key-list .table-header-column .internal-link.sort-ascending {
	background-image: none;
	display: inline-block;
	font-weight: normal;
	height: auto;
	line-height: 18px;
	margin: 0;
	overflow: hidden;
	padding: 0 18px 0 0;
	position: relative;
	width: auto;
}

.content-fragment.api-key-list .table-header-column .internal-link.sort-descending span, 
.content-fragment.api-key-list .table-header-column .internal-link.sort-ascending span {
	background: url("http://omnicell75.local/cfs-file.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/descending.gif") no-repeat scroll center top transparent;
	height: 6px;
	margin: 0;
	padding: 0 3px;
	position: absolute;
	right: 0;
	top: 6px;
	width: 10px;
}

.content-fragment-page.service-request-tickets .with-header.content-fragment.service-requests .content-fragment-header div
{
	font-size: 24px;
	color: #7fa3b7;
}

.content-fragment.login-and-create-user .page.join-manual label
{
	font-weight: bold; 
	display: block; 
}

.content-fragment.login-and-create-user .page.join-manual label + div
{
	margin-bottom:7px;
}

li.navigation-item a#LoggedOutLoginLink
{
	position: relative; 
	background: Transparent url('http://omnicell75.local/cfs-file.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/login.png') no-repeat top left; 
	width: 97px; 
	height: 24px; 
	display: inline-table; 
	display: -moz-inline-box; 
	display: inline-block; 
	z-index: 3; 
	font-size:0px; 
}

.content-fragment.thread-list.myproducts div.message.norecords
{
	margin-left:2px;
	margin-right:-2px;
}

div.content-fragment-page.user-userprofile .user-banner-actions a.internal-link.request-friendship
{
	display:none;
}


#newpostbutton {
    border-bottom: none;
    position: absolute;
    margin: 18px 683px;
}

a.internal-link.view-post {
	font-weight: normal;
}

a.internal-link.view-post.product-name {
	font-size:11px;
}


.required {
	color:red;
}

#nav a.active {
color: #5F9933;
}

#title-facility {
    color: #999;
    margin-left: 95px;
    margin-top: -75px;
    padding-bottom: 30px;
	line-height:60%;
}

.content-fragment.user-profile-group-content-fragment .attribute-item {
    border-bottom: none;
}

ul#title-facility a {
 color: #999;
 font-weight:normal;   
}

.service-footer-text {
float:right;
padding: 10px;
margin-right:10px;
color: #B3B2B2;
font-size: 11px;
font-weight: normal;
}

.service-footer-text a {
    color:#B3B2B2;
    font-weight:normal;
    }

.news-tab-item {
padding: 15px 20px !important;
}

.news-tab-summary {
line-height: 14px;
padding: 6px 0px;
}