#set ($viewType = $core_v2_widget.GetStringValue('viewType', 'standard'))
#set($fetchGroupId = $core_v2_page.ParseQueryString($core_v2_widget.GetCustomValue('parentGroup', 'Group=25')).Value("Group"))
#set($userId = $core_v2_user.Accessing.Id)

#set($parent = $core_v2_utility.ParseInt($fetchGroupId))
#set($userId = $core_v2_user.Accessing.Id)

#set($groupUser = $core_v2_groupUserMember.Get($parent, "%{UserId = $userId}"))
#set($roles = $core_v2_role.List("%{UserId = $userId}"))
#set($administratorsRoleString = "Administrators")
#set($IsAdmin = false)

#foreach($role in $roles)
    #if($role.Name == $administratorsRoleString)
        #set($IsAdmin = true)
    #end
#end
#set($IsOwner = false)
#if($groupUser.MembershipType == "Owner")
    #set($IsOwner = true)
#end

#set($IsManager = false)
#if($groupUser.MembershipType == "Manager")
    #set($IsManager = true)
#end

## OWNER: $IsOwner<BR>
## MANAGER: $IsManager<BR>

##if ($IsAdmin == false && $IsManager == false && $IsOwner == false)
    ##$core_v2_widget.Hide()
##end
## SMR - This is to hide this widget on the sub groups of Implementation Rooms
## Fetch Group ID:$fetchGroupId<BR>
## Parent of current: $core_v2_group.Current.ParentGroupId<BR>
#if ($fetchGroupId != $core_v2_group.Current.ParentGroupId)
    $core_v2_widget.Hide()
#end


#set($rel = 'stylesheet')
$core_v2_page.AddLink($rel, $core_v2_widget.GetFileUrl('discussions.css'))


#if($viewType=='standard')
	$core_v2_widget.ExecuteFile('standard.vm')
#else
	$core_v2_widget.ExecuteFile('simple.vm')
#end