#set($title = $core_v2_user.Accessing.ProfileFields.Get("Title").Value)

#set($groupUsers = $core_v2_groupUserMember.List($group.Id, "%{MembershipType='Manager,Member,Owner',PageSize=10000,SortBy='Username',SortOrder='Descending',IncludeRoleMembers='True'}"))

#set($members = "%{}")

#set($user = $core_v2_user.Accessing)

#set($count = 0)

#foreach($groupUser in $groupUsers)
    #if($groupUser.User.Id != $user.Id)
		#if($groupUser.User.ProfileFields.Get("Title").Value == $title)
			#set($count = $count + 1)
			$members.add($count, $groupUser)
		#end
	#end
#end
  #foreach($member in $members)
  #beforeall
      <div class="content-list-header"></div>
  		<ul class="content-list">
  #each
  
  	#set ($displayName = "")
  	#set ($displayName = $member.User.DisplayName)
  	#if ($displayName == "")
  		#set ($member = $member.Value)
  		#set ($displayName = $member.User.DisplayName)
  	#end
  
  	<li class="content-item">
  ##<p>$member :($core_v2_utility.Describe($member))</</p>
  		<span class="avatar">
  			#if ($member.User.ProfileUrl)
  				<a class="internal-link view-user-profile" href="$core_v2_encoding.HtmlAttributeEncode($member.User.ProfileUrl)">
  					$core_v2_ui.GetResizedImageHtml($member.User.AvatarUrl,29,29,"%{ style='border-width: 0px;', alt='$displayName'}")
  				</a>
  			#else
                  #if($member.User.AvatarUrl !="")
  				$core_v2_ui.GetResizedImageHtml($member.User.AvatarUrl,29,29,"%{ style='border-width: 0px;', alt='$displayName'}")
                  #end
  			#end
  		</span>
  		<span class="user-name">
  			#if ($member.User.ProfileUrl)
  				<a class="internal-link view-user-profile" href="$core_v2_encoding.HtmlAttributeEncode($member.User.ProfileUrl)">$displayName</a>
  			#else
  				$displayName
  			#end
  		</span>
  	</li>
  #afterall
  	</ul>
  #end