/**Registration List**/
 .content-fragment.event-registration-list .content-item { position: relative; border-top: 0; border-bottom: 1px dotted #ccc; padding: 14px 0 8px 0; min-height: 38px; }
.content-fragment.event-registration-list .content-item .avatar { padding: 1px; border: solid 1px #ccc; position: absolute; left: 0; top: 8px; }
.content-fragment.event-registration-list .content-item .avatar img { max-width: 40px; max-height: 40px; }
.content-fragment.event-registration-list .filter { border-top: 0px; }
.content-fragment.event-registration-list .content-item .user-name { margin-left: 48px; font-weight: bold; }
.content-fragment.event-registration-list .content-item .abbreviated-post { margin: 0 0 0 48px; padding: 0; color: #999; font-size: 10px; min-height: 0;}
.content-fragment.event-registration-list .navigation-item { font-weight: bold; margin-top: 4px; }
.content-fragment.event-registration-list .field-item { display: inline; }
.content-fragment.event-registration-list .field-item .edit-group-membership { border-left: 1px solid #ccc; padding-left: 5px; }
.content-fragment.event-registration-list .table-list { position: relative; width: 100%; }
.content-fragment.event-registration-list .table-item .table-column { position: relative; overflow: hidden; }
.content-fragment.event-registration-list .table-column .user-name { position: absolute; padding-left: 5px; padding-top: 8px; }
.content-fragment.event-registration-list .table-item .table-column .field-list, .content-fragment.group-membership-list .table-item .table-column.membership-status { text-align: right; }
.content-fragment.event-registration-list .table-item .registration-actions{width:20%}
.content-fragment.event-registration-list .table-item .user-info{width:35%}		
.content-fragment.event-registration-list .field-list .field-item-header { padding-top: 6px; }
.content-fragment.event-registration-list .field-list .field-list-description { padding-left: 0px; font-size: 14px; font-weight: bold; margin-bottom: 10px; padding-top: 15px; }
.content-fragment.event-registration-list .field-list .field-item-input textarea { display: block; }

/**Registration List**/

/* $Calendar Create Edit Event Comment
/******************************/

.content-fragment.create-edit-page-comment { position: relative; }
.content-fragment.create-edit-event-comment-form .field-list { margin: 0px; padding: 0; width: 100%; }
.content-fragment.create-edit-event-comment-form .field-list-header { display: none; }
.content-fragment.create-edit-event-comment-form .field-list-description { padding: 10px 10px 0px 0px; text-transform: uppercase; font-size: 10px; font-weight: bold; color: #666; }
.content-fragment.create-edit-event-comment-form .field-item-header { color: #444; }
.content-fragment.create-edit-event-comment-form .field-item { margin: 8px 0; padding: 0; position: relative; }
.content-fragment.create-edit-event-comment-form .field-item input { border: 1px solid #ccc; }
.content-fragment.create-edit-event-comment-form .field-item.post-body { margin-right: 8px;}
.content-fragment.create-edit-event-comment-form .field-item textarea { width: 100%; border: 1px solid #ccc; color:#333; padding: 3px; font-family: Arial, Sans-Serif; font-size: 1em; }
.content-fragment.create-edit-event-comment-form .field-item .field-item-validation { font-weight: bold; }
.content-fragment.create-edit-event-comment-form .field-list-footer { display: none; }

.content-fragment.create-edit-event-comment-form .field-item .internal-link.add-reply { font-weight: bold; margin-left: 12px; margin-top: -2px; position: relative; background: Transparent url('http://dev.myomnicell.com/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/button_2D00_sprite.gif') no-repeat right -66px; height: 22px; display: inline-table; display: -moz-inline-box; display: inline-block; line-height: 22px; color: #fff; font-size: 11px; padding: 0px 12px 0px 0px; z-index: 3; }
.content-fragment.create-edit-event-comment-form .field-item .internal-link.add-reply span { background: url('http://dev.myomnicell.com/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/button_2D00_sprite.gif') no-repeat 0px -44px; display: inline-table; display: -moz-inline-box; display: inline-block; position: absolute; left: -12px; top: 0; width: 12px; height: 22px; }
.content-fragment.create-edit-event-comment-form .field-item .internal-link.add-reply:hover { background: Transparent url('http://dev.myomnicell.com/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/button_2D00_sprite.gif') no-repeat right -22px; }
.content-fragment.create-edit-event-comment-form .field-item .internal-link.add-reply:hover span { background: Transparent url('http://dev.myomnicell.com/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/button_2D00_sprite.gif') no-repeat 0px top; }
.content-fragment.create-edit-event-comment-form .field-item .internal-link.add-reply.disabled { background: Transparent url('http://dev.myomnicell.com/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/button_2D00_sprite.gif') no-repeat right -110px; }
.content-fragment.create-edit-event-comment-form .field-item .internal-link.add-reply.disabled span { background: Transparent url('http://dev.myomnicell.com/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/button_2D00_sprite.gif') no-repeat 0px -88px; }	
	


/* $Calendar Calendar - evo2
/******************************/
div.event_calendar_content{text-align:center;}
div.event_calendar_content table{text-align:left;margin:0px auto;}
div.event_calendar_content table.event_calendar tr.month_head{height:75px;}
div.event_calendar_content table th{text-align:center;}
div.event_calendar_content table.event_calendar tbody td.empty_cell{background:#eee;}
div.event_calendar_content table.event_calendar tbody td{height:110px;width:100px;border:solid 1px #dcdcdc;vertical-align:top;overflow:hidden;}
div.event_calendar_content table.event_calendar tbody td span{display:block;font-size:80%;padding-left:3px;}
div.event_calendar_content table.event_calendar tbody td ul.event_list{list-style:none;padding:0;margin:0;}
div.event_calendar_content table.event_calendar tbody td ul.event_list li{margin:2px;font-size:75%;}
div.event_calendar_content table.event_calendar tbody td ul.event_list li a.cancelled_event{color:#ff0000;}
td.event_calendar_today{background-color:#dcdcdc;}
div.month_wrapper{position:relative;}
table.event_calendar div.month_wrapper span{font-size:115%;}
div.month_wrapper a.next_link{position:absolute;right:3px;top:3px;}
div.month_wrapper a.prev_link{position:absolute;left:3px;top:3px;}
div.event_calendar_content table{border:solid 1px #dcdcdc;padding:0px 5px 0px 5px;}
div.event_calendar_content table td.has_events{background-color:#eee;}
div.event_calendar_content table.event_calendar_small tbody td.empty_cell{background:#fff;}
div.event_calendar_content table.event_calendar_small tr.month_head{height:50px;}
div.event_calendar_content table.event_calendar_small th{text-align:center;font-size:90%;}
div.event_calendar_content table.event_calendar_small tbody td span,div.event_calendar_content table.event_calendar_small tbody td a{display:block;font-size:80%;padding-left:1px;}
div.event_calendar_content table.event_calendar_small tbody td{height:25px;width:25px;border:solid 1px #fff;vertical-align:top;overflow:hidden;}

/* Event Links
/*****************************/
.content-fragment.event-links .navigation-item { border-bottom: 1px dotted #ccc; position: relative; }
	.content-fragment.event-links .navigation-item .internal-link { padding-left: 19px; position: relative; display: block; }
	.content-fragment.event-links .navigation-item .internal-link span { background-image: url('http://dev.myomnicell.com/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/calendar_2D00_icon_2D00_sprite.gif'); background-repeat: no-repeat; position: absolute; width: 10px; height: 10px; left: 0; top: 3px; }
	.content-fragment.event-links .navigation-item .internal-link.subscription-on span, .content-fragment.event-links .navigation-item .internal-link.subscription-off span { background-position: 0 -1486px; }
	.content-fragment.event-links .navigation-item .internal-link.edit-post span { background: url('http://dev.myomnicell.com/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/calendar_2D00_icon_2D00_edit.gif') no-repeat center center; }
	.content-fragment.event-links .navigation-item .internal-link.add-post span { background: url('http://dev.myomnicell.com/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/calendar_2D00_icon_2D00_add.gif') no-repeat center center; }
	.content-fragment.event-links .navigation-item .internal-link.rss span { background: url('http://dev.myomnicell.com/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/calendar_2D00_icon_2D00_rss.gif') no-repeat center center; }
	.content-fragment.event-links .navigation-item .internal-link.delete-post span { background: url('http://dev.myomnicell.com/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/calendar_2D00_icon_2D00_delete.gif') no-repeat center center; }
	.content-fragment.event-links .navigation-item .internal-link.featured-on span,.content-fragment.event-links .navigation-item .internal-link.featured-off span { background: url('http://dev.myomnicell.com/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/calendar_2D00_icon_2D00_favorite.gif') no-repeat center center; }
	.content-fragment.event-links .navigation-item .email-subscription-form { background: url('http://dev.myomnicell.com/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/calendar_2D00_icon_2D00_sprite.gif') no-repeat 0 -1484px; margin: 0px; }
	.content-fragment.event-links .navigation-item .email-subscription-form .field-item { position: relative; padding: 0px; }
	.content-fragment.event-links .navigation-item .email-subscription-form .field-item-input { padding-left: 18px; display: block; }
	.content-fragment.event-links .navigation-item .email-subscription-form .field-item-input input { width: 82%; margin: 5px 0; font-size: 10px; border: 1px solid #ccc; margin: 0px 0px 1px 0px; padding: 1px; }
	.content-fragment.event-links .navigation-item .email-subscription-form .field-item-description { padding-left: 18px; display: block; }
	.content-fragment.event-links .navigation-item .internal-link.view-registrations span {
            background: url('http://dev.myomnicell.com/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/calendar_2D00_icon_2D00_sprite.gif') no-repeat 0 -943px; margin: 0px; 
            }
	.content-fragment.event-links .navigation-item .internal-link.download-event span {
            background:url('http://dev.myomnicell.com/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/calendar_2D00_icon_2D00_download_2D00_small.gif') no-repeat scroll center center transparent;
            width:16px;
            }
            
/*Event List*/
.content-fragment.event-list li.content-item { padding-left: 19px; position: relative;background: url('http://dev.myomnicell.com/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/calendar_2D00_icon_2D00_sprite.gif') no-repeat 0 -294px; margin: 0px;height:25px; }
.content-fragment.event-list li.content-item a.cancelled_event{color:#ff0000;}

/*Calendar links*/
.content-fragment.calendar-links .navigation-item { border-bottom: 1px dotted #ccc; position: relative; }
.content-fragment.calendar-links .navigation-item .internal-link { padding-left: 19px; position: relative; display: block; }
.content-fragment.calendar-links .navigation-item .internal-link span { background-image: url('http://dev.myomnicell.com/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/calendar_2D00_icon_2D00_sprite.gif'); background-repeat: no-repeat; position: absolute; width: 10px; height: 10px; left: 0; top: 3px; }
.content-fragment.calendar-links .navigation-item .internal-link.subscription-on span, .content-fragment.calendar-links .navigation-item .internal-link.subscription-off span { background-position: 0 -1486px; }
.content-fragment.calendar-links .navigation-item .internal-link.rss span { background: url('http://dev.myomnicell.com/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/calendar_2D00_icon_2D00_rss.gif') no-repeat center center; }
.content-fragment.calendar-links .navigation-item .internal-link.edit-post span { background: url('http://dev.myomnicell.com/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/calendar_2D00_icon_2D00_edit.gif') no-repeat center center; }
.content-fragment.calendar-links .navigation-item .internal-link.add-post span { background: url('http://dev.myomnicell.com/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/calendar_2D00_icon_2D00_add.gif') no-repeat center center; }
.content-fragment.calendar-links .navigation-item .internal-link.delete-post span { background: url('http://dev.myomnicell.com/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/calendar_2D00_icon_2D00_delete.gif') no-repeat center center; }
	
.content-fragment.calendar-bread-crumbs  {padding-left:8px;}

.content-fragment.calendar-list-fragment .abbreviated-post{ background: url('http://dev.myomnicell.com/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/calendar_2D00_calendarsmall.png') no-repeat top left;padding:0px 0 10px 60px;}

.content-fragment.event-widget .event-links{border-top:solid 1px #dcdcdc;padding:10px 0px 0px 10px;}
.content-fragment.event-widget .event-links .event-tags {background:url('http://dev.myomnicell.com/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/calendar_2D00_icon_2D00_sprite.gif') no-repeat scroll 0 -1600px transparent;display:inline;font-weight:bold;margin-left:8px;padding-left:16px;}
.event-tags .internal-link.edit-tags {font-size:9px;font-weight:normal;margin-left:3px;}


.content-fragment.event .event-metadata{border-bottom:solid 1px #dcdcdc;padding:0px 0px 0px 0px;}
.content-fragment.event .event-metadata ul.event-metadata-list{padding:0;margin:0;list-style:none}
.content-fragment.event .event-metadata ul.event-metadata-list li{margin:0;padding:0;}
.content-fragment.event .event-metadata ul.event-metadata-list li.event-date{padding:0px 0px 0px 19px; position: relative;background: url('http://dev.myomnicell.com/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/calendar_2D00_icon_2D00_sprite.gif') no-repeat 0 -294px; margin: 0px;height:20px;}
.content-fragment.event .event-metadata ul.event-metadata-list li.event-location{padding:0px 0px 0px 19px;position: relative;background: url('http://dev.myomnicell.com/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/calendar_2D00_icon_2D00_sprite.gif') no-repeat 3px -981px; margin: 0px;height:20px;} 

/*Maps*/
.content-fragment.event-edit-widget .field-item.event-location { position: relative; }
.mapLoader{position:absolute;top:5px;right:5px;text-align:center;}
.geocode_subform_wrapper{display:none;}
div.geocoded_map_content{text-align:center;}
div.geocoded_map_content img{display:block;margin:0 auto;} 
.copyLocLink { color: Blue;}

/* Registration Add */    
.content-fragment.event-registration-add-form .internal-link.registration-button { display: block; font-size: 11px; color: #fff; float: left; display: block; position: relative; margin-left: 12px; background: transparent url('http://dev.myomnicell.com/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/reply_2D00_button.gif') no-repeat scroll right -22px; height: 22px; padding: 4px 10px 3px 0px; font-weight: bold; }
	.content-fragment.event-registration-add-form .internal-link.registration-button span { position: absolute; left: -8px; top: 0; background: transparent url('http://dev.myomnicell.com/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/reply_2D00_button.gif') no-repeat scroll left top; height: 22px; width: 8px; display: block; }
	
.content-fragment.event-registration-invite-form .field-list-description { display:none; }
.content-fragment.event-registration-invite-form .field-list .field-list-description { font-size:14px; font-weight:bold; margin-bottom:10px; padding-left:0; padding-top:15px; }
.content-fragment.event-registration-invite-form .field-list .field-item-header { padding-top:6px; }
.content-fragment.event-registration-invite-form .field-list .field-item-input textarea { display:block; }
.content-fragment.event-registration-invite-form .field-item { position:relative; }
.content-fragment.event-registration-invite-form .field-item.invite-member { display:block; }