#set($showTitle = $core_v2_widget.GetBoolValue('showTitleColumn', true))
#set($showGroup = $core_v2_widget.GetBoolValue('showGroupColumn', false))
#set($showPosts = $core_v2_widget.GetBoolValue('showPostsColumn', true))
#set($showLastPost = $core_v2_widget.GetBoolValue('showLastPostColumn', true))
#set($columnCount = 0)

<thead>
	<tr class="table-header">
		#if($showTitle)
			<th class="table-header-column application-title">$core_v2_language.GetResource('UIFragment_Core_BrowseApplication_WikiColumn')</th>
			#set($columnCount = $columnCount + 1)
		#end
		#if($showGroup)
			<th class="table-header-column application-group">$core_v2_language.GetResource('UIFragment_Core_BrowseApplication_GroupColumn')</th>
			#set($columnCount = $columnCount + 1)
		#end
		#if($showPosts)
			<th class="table-header-column post-count">$core_v2_language.GetResource('UIFragment_Core_BrowseApplication_PostsColumn_Wiki')</th>
			#set($columnCount = $columnCount + 1)
		#end
		#if($showLastPost)
			<th class="table-header-column post-date">$core_v2_language.GetResource('UIFragment_Core_BrowseApplication_LastPostColumn_Wiki')</th>
			#set($columnCount = $columnCount + 1)
		#end
	</tr>		
</thead>

