#set($pageIndex = 0)
#set($pageIndex = $core_v2_page.GetQueryStringValue('w_pageIndex'))
#set($searchText = $core_v2_page.GetQueryStringValue('w_searchText'))
#set($showSortOptions = false)
#set($pageSize = $core_v2_widget.GetIntValue('itemsBeforeScroll',5))
#set($showSubGroups = $core_v2_widget.GetBoolValue('groupAndSubGroups', false))

#set($searchResults = $core_v2_wiki.Search($searchText, "%{GroupId=$core_v2_group.Current.Id,IncludeSubGroups=$showSubGroups,PageSize=$pageSize,PageIndex=$pageIndex}"))

#set($showTitle = $core_v2_widget.GetBoolValue('showTitleColumn', true))
#set($showGroup = $core_v2_widget.GetBoolValue('showGroupColumn', false))
#set($showPosts = $core_v2_widget.GetBoolValue('showPostsColumn', true))
#set($showLastPost = $core_v2_widget.GetBoolValue('showLastPostColumn', true))
#set($columnCount = 0)
#set($hasResults = false)

<div class="table-list-header"></div>
<table class="table-list">
	$core_v2_widget.ExecuteFile('header.vm')
	<tbody>
	#foreach($searchResult in $searchResults)
	#each
		#set($wiki = false)	
		#set($wiki = $core_v2_wiki.Get("%{Id=$searchResult.ContentId}"))
		#if($wiki)
			<tr class="table-item">
				#if($showTitle)
					<td class="table-column application-title">
						<a class="internal-link view-application" href="$core_v2_encoding.HtmlAttributeEncode($wiki.Url)">$wiki.Name</a>
						#if ($wiki && $core_v2_bookmark.SupportsBookmarks($core_v2_wiki.ContentTypeId) && $core_v2_bookmark.CanBookmark($wiki.ContentId, $core_v2_wiki.ContentTypeId) && $core_v2_bookmark.CanUnBookmark($wiki.ContentId, $core_v2_wiki.ContentTypeId))
							$core_v2_ui.Bookmark($wiki.ContentId, $core_v2_wiki.ContentTypeId)
						#end
						<span class="description">$wiki.Description</span>
					</td>
				#end
				#if($showGroup)
					<td class="table-column application-group">$wiki.Group.Name</td>
				#end
				#if($showPosts)
					<td class="table-column post-count">
						#set($pages = $core_v2_wikiPage.List($wiki.Id, "%{PageIndex=0,PageSize=1}"))
						$pages.TotalCount
					</td>
				#end
				#if ($showLastPost)
					<td class="table-column post-date">
						$core_v2_language.FormatDate($wiki.LastModifiedUtcDate)
					</td>
				#end
			</tr>
			#set($hasResults = true)
		#end
	#end
	#if(!$hasResults)
		<tr class="table-item"><td colspan="$columnCount"><div class="message norecords">$core_v2_language.GetResource('UIFragment_Core_BrowseApplication_NoResults')</div></td></tr>
	#end
</tbody>
</table>
<div class="table-list-footer"></div>
<div class="pager">
	#if($searchResults.PageIndex > 0)
		<a href="javascript:void(0)" class="previous"><span>$core_v2_language.GetResource('Utility_Pager_previousButton')</span></a>
		<span class="separator"></span>
	#end
	#if(($searchResults.PageIndex + 1) * $searchResults.PageSize < $searchResults.TotalCount)
		<a href="javascript:void(0)" class="next"><span>$core_v2_language.GetResource('Utility_Pager_nextButton')</span></a>
	#end
</div>