$core_v2_page.SetContentType("text/css")

.content-fragment.group-application-navigation .internal-link.add-post {
  background: none !important;
  font-size: 12px;
  color: #fff !important;
  right: -60px;
  top: -32px !important;
}

.content-fragment.group-application-navigation .internal-link.add-post {
    position: absolute;
    display: block;
    height: 26px;
    font-weight: normal;
    line-height: 19px;
    padding: 3px 74px 0;
    right: 1px;
    z-index: 1;
}
