#set ($followedUsers = $core_v2_following.List("%{ FollowerId = $user.Id, PageSize = 21, PageIndex = $pageIndex }"))

$core_v2_widget.ExecuteFile('standard-tabs.vm')

#foreach ($followedUser in $followedUsers)
#beforeall
	<div class="content-list-header"></div>
	<ul class="content-list">
#each

		<li class="content-item" data-friendid="$followedUser.Id">
			<div class="content-list-header"></div>
			<div class="full-post">
				<span class="avatar">
					#if ($followedUser.ProfileUrl)
						<a href="$core_v2_encoding.HtmlAttributeEncode($followedUser.ProfileUrl)">
							$core_v2_ui.GetResizedImageHtml($followedUser.AvatarUrl, 60, 60, "%{border='0', alt=$followedUser.DisplayName}")
						</a>
					#else
						$core_v2_ui.GetResizedImageHtml($followedUser.AvatarUrl, 60, 60, "%{border='0', alt=$followedUser.DisplayName}")
					#end
				</span>
				<span class="user-name">
					#if ($followedUser.ProfileUrl)
						<a class="internal-link view-user-profile" href="$core_v2_encoding.HtmlAttributeEncode($followedUser.ProfileUrl)">
							<span></span>$followedUser.DisplayName
						</a>
					#else
						<span></span>$followedUser.DisplayName
					#end
				</span>

				#set ($statusMessages = $core_v2_statusMessage.List("%{ UserId = $followedUser.Id, PageSize = 1 }"))
				#foreach ($status in $statusMessages)
					<span class="status-message">$status.RenderedBody</span>
					<span class="status-date">
						$core_v2_language.FormatString($core_v2_language.GetResource('ActivityMessage_MessageDate'), $core_v2_language.FormatDateAndTime($status.CreatedDate))
					</span>
				#end

				<div class="post-actions">
					#if ($isUserAccessing)
						<div class="navigation-list-header"></div>
						<ul class="navigation-list">
							#set($url = false)
							#set($url = $core_v2_urls.AddConversation($followedUser.Id))
							#if($url)
								<li class="navigation-item">
									<a class="internal-link start-conversation" href="$core_v2_encoding.HtmlAttributeEncode($url)">
										<span></span>$core_v2_language.GetResource('EditProfile_FriendsPrivateMessage')
									</a>
								</li>
							#end
							<li class="navigation-item">
								#set ($friendship = false)
								#set ($friendship = $core_v2_friendship.Get("%{ UserId = $user.Id, FriendId = $followedUser.Id }"))
								#if ($friendship)
									<a class="internal-link delete-friend" href="#">
										<span></span>$core_v2_language.GetResource('Friend_Remove')
									</a>
								#else
									#set ($url = false)
									#set ($url = $core_v2_urls.RequestFriendship($followedUser.Id))
									#if ($url)
										<a class="internal-link request-friendship" href="$core_v2_encoding.HtmlAttributeEncode($url)">
											<span></span>$core_v2_language.GetResource('Friend_Add')
										</a>
									#end
								#end
							</li>

							<li class="navigation-item">
								<a class="internal-link follow-user" data-follows="true" href="javascript:void(0)" style="display: inline-block;"><span></span></a>
							</li>
						</ul>
						<div class="navigation-list-footer"></div>
					#end
				</div>
			</div>
			<div class="full-post-footer"></div>
		</li>

#afterall
	</ul>
	<div class="content-list-footer"></div>
#end
$core_v2_ui.Pager($followedUsers.PageIndex, $followedUsers.PageSize, $followedUsers.TotalCount)
