#set ($pageIndex = $core_v2_utility.ParseInt($core_v2_page.GetQueryStringValue('w_pageIndex')))
#set ($query = false)
#set ($query = $core_v2_page.GetQueryStringValue('w_query'))
#set ($isSearchResult = false)

#set ($newGroupUrl = false)
#set ($newGroupUrl = $core_v2_groupUrls.AddGroup($core_v2_group.Current.Id))


#if ($query && $query.Length > 0)
    #set ($results = $core_v2_group.Search($query, "%{ PageIndex = $pageIndex, PageSize = 10 }"))
    #set ($isSearchResult = true)
#else
    #set ($results = $core_v2_group.List("%{ PageIndex = $pageIndex, PageSize = 10, SortBy = 'LastUpdate', SortOrder = 'Descending', ParentGroupId=$core_v2_group.Root.Id }"))
#end
#set ($accessingUser = $core_v2_user.Accessing)

#set ($hasMore = false)
#set ($currentPagedQuantity = ($results.PageIndex + 1) * $results.PageSize)
#if ($results.TotalCount > $currentPagedQuantity)
    #set ($hasMore = true)
#end

#foreach ($result in $results)
    #if ($isSearchResult)
        #set ($group = $result.Group)
    #else
        #set ($group = $result)
    #end

    #set($subGroups = $core_v2_group.List("%{ ParentGroupId = $group.Id, PageSize = 5, SortBy = 'LastUpdate', SortOrder = 'Descending' }"))

    ## render group
    #set ($imageUrl = false)
    #set ($imageUrl = $group.AvatarUrl)
    <li class="content-item" data-contenturl="$group.Url" #if($hasMore) data-hasmore="true" #end>
        #if ($imageUrl)
            <div class="post-author">
                <span class="avatar">
                    <a href="$core_v2_encoding.HtmlAttributeEncode($group.Url)" class="internal-link">
                        $core_v2_ui.GetResizedImageHtml($imageUrl, 40, 40, "%{border='0', alt=$group.Name, ResizeMethod='ZoomAndCrop',border='0'}")
                    </a>
                </span>
            </div>
        #end
        <div class="content">
            $core_v2_language.Truncate($group.Name, 50, '…')
        </div>
        <ul class="content-list sub">
            #foreach($subGroup in $subGroups)
                <li class="content-item"><a href="$core_v2_encoding.HtmlAttributeEncode($subGroup.Url)" class="internal-link">$subGroup.Name</a></li>
            #end
            #if ($subGroups.TotalCount > 5)
                #set($remainingItems = $subGroups.TotalCount - 5)
                <li class="content-item"><a href="$core_v2_encoding.HtmlAttributeEncode($group.Url)" class="internal-link view-more">$core_v2_language.FormatString($core_v2_language.GetResource('BrowseGroups_AndMore'), $remainingItems.ToString())</a></li>
                #set($currentItems = $currentItems + 1)
            #end
        </ul>
    </li>
#nodata
    #if ($isSearchResult)
        #if ($newGroupUrl)
            <div class="message norecords">$core_v2_language.FormatString($core_v2_language.GetResource('BrowseGroups_None_CreateGroup'), $newGroupUrl)</div>
        #else
            <div class="message norecords">$core_v2_language.GetResource('Groups_Search_NoResults')</div>
        #end
    #else
        #if($newGroupUrl)
            <div class="message norecords">$core_v2_language.FormatString($core_v2_language.GetResource('Groups_None'), $newGroupUrl)</div>
        #else
            <div class="message norecords">$core_v2_language.GetResource('BrowseGroups_NoGroups')</div>
        #end
    #end
#end