#set ($productsGroupId = $core_v2_page.ParseQueryString($core_v2_widget.GetCustomValue('productsGroup','')).Value('Group'))
#set ($groups = $core_v2_group.List("%{ParentGroupId=$productsGroupId,UserId=$core_v2_user.Accessing.Id,PageSize=100}"))
#set($pageUrl = $core_v2_page.Url)

<select id="product" name="product">
    #foreach ($group in $groups)
    	#set($groupUser = false)
		#set($groupUser = $core_v2_groupUserMember.Get($group.Id, "%{UserId=$core_v2_user.Accessing.Id}"))
		#if ($groupUser != false && $groupUser.IsDirectMember)
			#set($selected = "")
			#if($filterGroupId  == $group.Id)
				#set($selectedProductGroup = $group.Name)
			#end
            <option value="$group.Name">$group.Name</option>
		#end		
	#end
</select>

