#set ($pageSize = $core_v2_widget.GetIntValue('pageSize', 15))
#set ($viewType = $core_v2_widget.GetStringValue('viewType', 'simple'))

#set($mentions = $core_v2_mention.List("%{MentionedContentIds=$userId,MentionedContentTypeId=$core_v2_user.ContentTypeId,PageSize=$pageSize,PageIndex=$pageIndex,SortBy='Date',SortOrder='Descending'}"))
#if ($mentions.TotalCount == 0 && $pageIndex == 0)
	<div class="message information">
	#if ($core_v2_user.Current && $core_v2_user.Accessing && $core_v2_user.Current.Id == $core_v2_user.Accessing.Id)
		$core_v2_language.GetResource("No_Mentions_Message_Self")
	#else
		$core_v2_language.FormatString($core_v2_language.GetResource("No_Mentions_Message"), $user.DisplayName)
	#end
	</div>
#else
    #foreach($mention in $mentions)
        #beforeall
            #if($pageIndex == 0)
                <div class="content-list-header view-$viewType"></div>
                <ul class="content-list view-$viewType">
            #end
        #each
            <li class="content-item">
		<div class="abbreviated-post-header"></div>
		<div class="abbreviated-post">
			<h4 class="post-name">
				<a href="$core_v2_encoding.HtmlAttributeEncode($mention.MentioningContent.Url)"><span></span>$core_v2_language.Truncate($mention.MentioningContent.HtmlName('Web'), 25, '...')</a>
			</h4>
			#if ($viewType == 'full')
				<div class="post-thumbnail">
					#set($avatar = false)
					#set($avatar = $mention.MentioningContent.AvatarUrl)
					#if (!$avatar)
						#set($avatar = $mention.MentioningContent.Application.AvatarUrl)
						#if (!$avatar)
						    #set($avatar = $mention.MentioningContent.Application.Container.AvatarUrl)
						#end
					#end
					#if ($avatar)
						<a href="$core_v2_encoding.HtmlAttributeEncode($mention.MentioningContent.Url)">$core_v2_ui.GetResizedImageHtml($avatar, 78, 78, "%{ResizeMethod='ZoomAndCrop',border='0'}")</a>
					#end
				</div>
				<div class="post-summary">
					$core_v2_language.Truncate($mention.MentioningContent.HtmlDescription('WebQuote'), 250, '...')
				</div>
			#end
			#if ($mention.MentioningContent.Application && $mention.MentioningContent.Application.ApplicationId != $mention.MentioningContent.ContentId)
				<div class="post-application">
					$core_v2_language.FormatString($core_v2_language.GetResource('Content_InApplication'), "<a href='$core_v2_encoding.HtmlAttributeEncode($mention.MentioningContent.Application.Url)'>$mention.MentioningContent.Application.HtmlName('Web')</a>")
				</div>
			#end
			<div class="post-date">
				<span class="value">$core_v2_language.FormatAgoDate($mention.MentionedDate)</span>
			</div>
		</div>
		<div class="abbreviated-post-footer"></div>
            </li>
        #afterall
            #if (($pageIndex + 1) * $pageSize < $mentions.TotalCount)
                <li class="content-item load-more"><div class="pager"><a href="#">$core_v2_language.GetResource('Content_More')</a></div></li>
            #end
            #if ($pageIndex == 0)
                </ul>
                <div class="content-list-footer view-$viewType"></div>
            #end
    #end
#end