#set ($formatList = $omnicell_authentication.ListFormatTypes())
#set($pageUrl = $core_v2_page.Url)

<a href="#" id="$core_v2_widget.UniqueId('formatSelectionButton')"><img src="/cfs-file.ashx/__key/themefiles/s-7e987e474b714b01ba29b4336720c446-files/format_2D00_button.jpg" style="border:none" /></a>
<div id="$core_v2_widget.UniqueId('formatsMenuContainer')"></div>

<script type="text/javascript">
	var formatSelectButton = jQuery("#$core_v2_widget.UniqueId('formatSelectionButton')");
	var formatsMenuContainerString = "$core_v2_widget.UniqueId('formatsMenuContainer')";
	var formatsMenuContainer = jQuery('#' + formatsMenuContainerString );
	var formats = new Array();
	
##	#foreach ($format in $formatList)
##		#if($filterFormatId == $format.Id)
##			#set($selectedFormat = $format.Value)
##		#end
##
##		var menuItem$format.Id = 
##		{
##			id:'$format.Id',
##			text:'$format.Value',
##			url:'$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($pageUrl, "FilterFormatId=$format.Id"))'
##		};		
##
##		formats.push(menuItem$format.Id);
##	
##	#end
	
   jQuery(function(){
//   jQuery(document).ready(function(){  
	formatsMenuContainer.glowPopUpMenu({
		groupCssClass: 'menu media-format-list',
		itemCssClass: 'menu-item media-format',
		itemSelectedCssClass: 'menu-item media-format selected',
//		groupCssClass: 'menu moderation-content menu__moderation-content',
//		itemCssClass: 'menu-item menu__moderation-content__menu-item',
//		itemSelectedCssClass: 'menu-item hover menu__moderation-content__menu-item__hover',
//		itemExpandedCssClass: 'menu-item expanded',
		position: 'down',
		zIndex: 100,
		menuItems: []
	});
	

	#foreach ($format in $formatList)
		#if($filterFormatId == $format.Id)
			#set($selectedFormat = $format.Value)
		#end

		formatsMenuContainer.glowPopUpMenu('add', formatsMenuContainer.glowPopUpMenu('createMenuItem', {
			id:'$format.Id',
			text:'$format.Value',
			url:'$core_v2_page.AdjustQueryString($pageUrl, "FilterFormatId=$format.Id")'
		}));
	
	#end


	formatSelectButton.click(function()
	{
		if (!formatsMenuContainer.glowPopUpMenu('isOpen'))
			formatsMenuContainer.glowPopUpMenu('open', this);
		else
			formatsMenuContainer.glowPopUpMenu('close');
		
		return false;
	});
});
</script>

