#set ($isPageLevelUserAccessingUser = false)
#if ($core_v2_user.Current.Id == $core_v2_user.Accessing.Id)
	#set ($isPageLevelUserAccessingUser = true)
#end

#set ($applicationType = '')
#set ($applicationType = $core_v2_page.GetQueryStringValue('ApplicationType'))
#set ($application = '')
#if ($applicationType == 'Forums')
	#set ($application = 'Forum')
#elseif ($applicationType == 'Wikis')
	#set ($application = 'Wiki')
#elseif ($applicationType == 'Weblogs')
	#set ($application = 'Weblog')
#elseif ($applicationType == 'Media')
	#set ($application = 'MediaGallery')
#elseif ($applicationType == 'Core')
	#set ($application = 'Core')
#end

#set ($favorites = $core_v2_favorite.List($user.Id, "%{ PageSize = $pageSize, PageIndex = $pageIndex, Application = $application }"))

<div class="filter">
	<div class="query-filter">
		<span class="filter-option #if($applicationType == '') selected #end"><a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, "ApplicationType=&$core_v2_ui.PageIndexQueryStringKey=1"))">$core_v2_language.GetResource('Everything')</a></span>
		<span class="separator">|</span>
		<span class="filter-option #if($applicationType == 'Forums') selected #end"><a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, "ApplicationType=Forums&$core_v2_ui.PageIndexQueryStringKey=1"))">$core_v2_language.GetResource('forums')</a></span>
		<span class="separator">|</span>
		<span class="filter-option #if($applicationType == 'Weblogs') selected #end"><a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, "ApplicationType=Weblogs&$core_v2_ui.PageIndexQueryStringKey=1"))">$core_v2_language.GetResource('weblogs')</a></span>
		<span class="separator">|</span>
		<span class="filter-option #if($applicationType == 'Wikis') selected #end"><a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, "ApplicationType=Wikis&$core_v2_ui.PageIndexQueryStringKey=1"))">$core_v2_language.GetResource('wikis')</a></span>
		<span class="separator">|</span>
		<span class="filter-option #if($applicationType == 'Media') selected #end"><a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, "ApplicationType=Media&$core_v2_ui.PageIndexQueryStringKey=1"))">$core_v2_language.GetResource('files')</a></span>
		<span class="separator">|</span>
		<span class="filter-option #if($applicationType == 'Core') selected #end"><a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, "ApplicationType=Core&$core_v2_ui.PageIndexQueryStringKey=1"))">$core_v2_language.GetResource('hubs')</a></span>
	</div>
</div>

#foreach ($favorite in $favorites)
#beforeall
	<div class="content-list-header"></div>
	<ul class="content-list">
#each
	<li class="content-item">
		#if ($favorite.Type == "WeblogPost" || $favorite.Type == "ForumPost" || $favorite.Type == "MediaGalleryPost" || $favorite.Type == "Page")
			<span class="avatar">
				#if ($favorite.User.ProfileUrl)
					<a href="$core_v2_encoding.HtmlAttributeEncode($favorite.User.ProfileUrl)">
						$core_v2_ui.GetResizedImageHtml($favorite.User.AvatarUrl, 32, 32, "%{border='0', alt=$favorite.User.DisplayName}")
					</a>
				#else
					$core_v2_ui.GetResizedImageHtml($favorite.User.AvatarUrl, 32, 32, "%{border='0', alt=$favorite.User.DisplayName}")
				#end
			</span>
		#else
			#set ($group = false)
			#set ($group = $core_v2_group.Get("%{ Id = $favorite.GroupId }"))
			#if ($group)
				<span class="avatar">
					<a href="$core_v2_encoding.HtmlAttributeEncode($group.Url)">
						$core_v2_ui.GetResizedImageHtml($group.AvatarUrl, 32, 32, "%{border='0', alt=$group.Name}")
					</a>
				</span>
			#end
		#end
		<div class="favorite-type">
			#if ($favorite.Type == "WeblogPost")
				$core_v2_language.GetResource('Weblog_Post')
			#elseif ($favorite.Type == "ForumPost")
				$core_v2_language.GetResource('Forums_Post')
			#elseif ($favorite.Type == "MediaGalleryPost")
				$core_v2_language.GetResource('File')
			#elseif ($favorite.Type == "Page")
				$core_v2_language.GetResource('Wikis_Page')
			#elseif ($favorite.Type == "Group")
				$core_v2_language.GetResource('Application_Group')
			#elseif ($favorite.Type == "Weblog")
				$core_v2_language.GetResource('weblog')
			#elseif ($favorite.Type == "MediaGallery")
				$core_v2_language.GetResource('Button_WebGallery')
			#else
				$favorite.Type
			#end
			:
		</div>
		<a class="internal-link view-post" href="$core_v2_encoding.HtmlAttributeEncode($favorite.Url)" favoritetype="$core_v2_encoding.HtmlAttributeEncode($favorite.Type)"><span></span>$favorite.Title</a>
		#if ($isPageLevelUserAccessingUser)
			<div class="favorite-actions">
				<a style="display: inline;" href="#" class="internal-link favorite-on">
					<span></span>$core_v2_language.GetResource('Favorites_RemoveToFavorites')
				</a>
			</div>
		#else
			<div class="favorite-actions">
				<span class="favorited">
					<span></span>$core_v2_language.GetResource('Favorites_AlreadyFavorite')
				</span>
			</div>
		#end
	</li>
#afterall
	</ul>
	<div class="content-list-footer"></div>
	$core_v2_ui.Pager($favorites.PageIndex, $favorites.PageSize, $favorites.TotalCount )
#nodata
	<div class="message norecords">
		$core_v2_language.FormatString($core_v2_language.GetResource('Profile_NoFavoritePosts'), $user.DisplayName)
	</div>
#end

#registerEndOfPageHtml('telligent.evolution.widgets.favorableContentList')
	<script type="text/javascript" src="$core_v2_encoding.HtmlAttributeEncode($core_v2_widget.GetFileUrl("ui.js"))"></script>
#end
#registerEndOfPageHtml()
	<script type="text/javascript">
		jQuery(function(j){
			j.telligent.evolution.widgets.favorableContentList.register({
				wrapperId: '#$core_v2_widget.WrapperElementId',
				unfavoriteUrl: '$core_v2_encoding.JavascriptEncode($core_v2_widget.GetExecutedFileUrl('unfavorite.vm'))',
				userId: $user.Id
			});
		});
	</script>
#end
