ege.SetContentType("text/css")

.content-fragment.group-application-navigation .navigation-item a {
  display: block;
  font-weight: normal;
  background: url('/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/application_2D00_tabs.gif') no-repeat right -58px;
  height: 27px;
  line-height: 25px;
  font-size: 12px;
  padding: 2px 16px 0 10px;
  color: #666;
}
.content-fragment.group-application-navigation .internal-link.add-post {
  position: absolute;
  right: 10px;
  top: -10px;
  background: url('/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/group_2D00_addpost_2D00_button.gif') no-repeat right -26px;
  height: 26px;
  color: #fff;
  font-size: 10px;
  padding: 3px 56px 0;
  font-weight: bold;
  font-size: 12px;
  line-height: 19px;
  z-index: 1;
}
.content-fragment.group-application-navigation .navigation-list {
  list-style-type: none;
  margin: 0;
  height: 29px;
  padding: 0 175px 0 26px;
  background: url('/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/application_2D00_tabset.gif') repeat-x left bottom;
  position: relative;
}
.content-fragment.group-application-navigation .navigation-item {
  float: left;
  margin: 0 3px 0 0;
  padding: 0 0 0 6px;
  display: block;
  background: url('/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/application_2D00_tabs.gif') no-repeat left top;
  height: 29px;
}
.content-fragment.group-application-navigation .navigation-item.add-post {
  background: Transparent;
}
.content-fragment.group-application-navigation .navigation-list {
  border-bottom: 1px solid #D4E7C5;
  background: none;
  color: #999;
  height: 25px;
  margin-left: 0;
  padding: 0;
}
.content-fragment.group-application-navigation .navigation-list a, .content-fragment.group-application-navigation .navigation-list a:link, .content-fragment.group-application-navigation .navigation-list a:visited, .content-fragment.group-application-navigation .navigation-list a:hover, .content-fragment.group-application-navigation .navigation-list a:active {
  color: #999;
  text-decoration: none;
}
.content-fragment.group-application-navigation .navigation-item.selected {
  border-left: 1px solid #D4E7C5;
      border-right: 1px solid #D4E7C5;
      border-top: 1px solid #D4E7C5;
      height: 25px;
  color: #52524a;
  background: none repeat scroll 0 0 #FFF;
  border-collapse: collapse;
}
.content-fragment.group-application-navigation .navigation-item.selected a {
  font-weight: normal;
  font-size: 16px;
}
.content-fragment.group-application-navigation .navigation-item.selected a:link, .content-fragment.group-application-navigation .navigation-item.selected a:visited, .content-fragment.group-application-navigation .navigation-item.selected a:hover, .content-fragment.group-application-navigation .navigation-item.selected a:active{
  color: #52524a;
  text-decoration: none;
}
.content-fragment.group-application-navigation .navigation-item {
  background: #D4E7C5;;
  border-right: 1px solid #fff;
  height: 25px;
  margin: 0px;
  border-left: none;
  border-collapse: collapse;
}

.content-fragment.group-application-navigation .navigation-item.add-post {
  border-right: none;
}
.content-fragment.group-application-navigation .navigation-item a {
  background: none;
  font-size: 16px;
  }
.content-fragment.group-application-navigation .internal-link.add-post {
  background: url("/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/newpost.png") no-repeat scroll left top transparent;
  padding: 3px 74px 0;
  right: 1px; 
  font-size: 0px;
  top: -4px;
}
.content-fragment.group-application-navigation .internal-link.add-post span {
  background: url("/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/newpost.png") no-repeat scroll left top transparent;
  display: none;
}
.menu.group-application-navigation-content .navigation-item a{
  color:#5F9933;  
}t nocompatible              " be iMprove
filetype off                  " required

" set the runtime path to include Vundle and initialize
set rtp+=~/.vim/bundle/Vundle.vim
call vundle#begin()
" alternatively, pass a path where Vundle should install plugins
"call vundle#begin('~/some/path/here')

" let Vundle manage Vundle, required
Plugin 'gmarik/Vundle.vim'

" The following are examples of different formats supported.
" Keep Plugin commands between vundle#begin/end.
" plugin on GitHub repo
"Plugin 'tpope/vim-fugitive'
" plugin from http://vim-scripts.org/vim/scripts.html
"Plugin 'L9'
" Git plugin not hosted on GitHub
"Plugin 'git://git.wincent.com/command-t.git'
" git repos on your local machine (i.e. when working on your own plugin)
"Plugin 'file:///home/gmarik/path/to/plugin'
" The sparkup vim script is in a subdirectory of this repo called vim.
" Pass the path to set the runtimepath properly.
"Plugin 'rstacruz/sparkup', {'rtp': 'vim/'}
" Avoid a name conflict with L9
"Plugin 'user/L9', {'name': 'newL9'}

" All of your Plugins must be added before the following line
call vundle#end()            " required
filetype plugin indent on    " required
" To ignore plugin indent changes, instead use:
"filetype plugin on
"
" Brief help
" :PluginList       - lists configured plugins
" :PluginInstall    - installs plugins; append `!` to update or just :PluginUpdate
" :PluginSearch foo - searches for foo; append `!` to refresh local cache
" :PluginClean      - confirms removal of unused plugins; append `!` to auto-approve removal
"
" see :h vundle for more details or wiki for FAQ
" Put your non-Plugin stuff after this line
