
#set($pattern = "^(.*)+asc(.*)?")

#set($match = $core_v2_utility.IsMatch($sort, $pattern))

#if($match == "True")
    #set($alternateSortOrder = "+desc")
    #set($SortOrder = "Descending")
#else
     #set($alternateSortOrder = "+asc")
     #set($SortOrder = "Ascending")
#end

<script type="text/javascript">
    var filterAllGroupsCheckbox = jQuery("#$core_v2_widget.UniqueId('filterAllGroupsCheckbox')");

    function showhide(Id) {
        var show = $('.showToggle_' + Id).html();
        
        if(show == "All...") {
            $('.shmedia_'+ Id).show();
            $('.showToggle_' + Id).html("Show Less");
        }
        else {
            $('.shmedia_'+ Id).hide();
            $('.showToggle_' + Id).html("All...");
        }
    }
   jQuery(function(){
       $("[class*='shmedia']").hide();    
    jQuery("#$core_v2_widget.UniqueId('filterAllGroupsCheckbox')").change(function()
	{
		if($(this).is(':checked')) 
		{
			//$(this).attr('checked', 'checked');
			var url = "$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_group.Current.Url, 'FilterAllGroups=true,GroupId='))";
            url = url.split('?');
			window.location = url[0];
		}
		else
		{
			//$(this).attr('checked',''); 
			var url = "$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_group.Current.Url, 'FilterAllGroups=false'))";
			window.location = url;
		}

		return false;
	});

	
});
</script>


#if ($filterAllGroups == "true")
#set($checked = "")
#set($checked = "checked")
#end

<div class="filter detail">
    <div class="filter-header">
        <span class="">Filter Documents</span>
                   <p>To add related documents to this implementation room, select a document from the column on the right and drag it to the one on the left. The documents list can be filtered using the fields below. When you are done adding documents, click Save Links to save your selections.</p>        
        
    </div>
    <div style="width:100%;margin-left:10px;">
## SMR - Add the other three types of filters		
        <div style="float:left;margin-left:10px;">
			$core_v2_widget.ExecuteFile('product-list.vm')
		</div>
        <div style="float:left;margin-left:10px;">
        	$core_v2_widget.ExecuteFile('feature-list.vm')
        </div>
        <div style="float:left;margin-left:10px;">
            <span>Version:</span><BR />
            <input type="text" id="VersionNumber" />
        </div>
        <div style="float:left;margin-left:10px;">
		    $core_v2_widget.ExecuteFile('interface-list.vm')
	    </div>            
    </div>
    <div class="clear"></div>
</div>
<BR>
<div>

<style>
#alldocuments {
    overflow-y: scroll; 
    float: left;
}
#pickeddocuments {
    overflow-y: scroll; 
    float: left;
}

#sortable1, #sortable2 { 
    list-style-type: none; margin: 0; padding: 0 0 2.5em; float: left; margin-right: 10px; 
    border:1px solid #999999;
    min-width:200px;
    min-height:100px;
    padding:5px;
    margin:5px;
    height:400px;
}
#sortable1 li, #sortable2 li { margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; width: 280px; }

#sortable1 li .olVal, #sortable2 li .olVal {
    display:none;
    
    .maindivcontainer {
        padding: 1.5em 2% 1.5em .5em;
        border: 1px solid #000;
    }
#alldocuments {
    float: left;
    }
}
</style>
##<script src="http://code.jquery.com/ui/1.8.18/jquery-ui.js"></script>
<script src="/cfs-file.ashx/__key/communityserver-components-sitefiles/jquery_2D00_ui_2D00_1.10.3.custom.min.js"></script>
<div class="maindivcontainer">
#foreach($media in $documentMedias)
#beforeall
    <div id="alldocuments">
        <ul id="sortable1" class="connectedSortable">
#each
    <li class="ui-state-default"><span class="olVal">$media.Id</span><span class="olTxt">$media.Title</span></li>
#afterall
        </ul>
    </div>    
#nodata
    <div id="alldocuments">
    <ul id="sortable1" class="connectedSortable">
        <li class="ui-state-default"><span class="olVal"></span><span class="olTxt">No Matching Documents Found.</span></li>
    </ul>
    </div>
#end

    <ul id="sortable2" class="connectedSortable">
    </ul>
    <!--<a href="#" id="saveOptions">Save My Links!</a> <Br />-->
    ## clear: both;
    ## max-width: 40px;
    ## min-height: 60px;
    ## min-width: 107px;
    ## padding: 1px 0 1px 80px;
    ## position: relative;
    
<div style="clear:both">    
    <div class="save-link-btn" width="30%"><input type="submit" id="saveOptions" value="Save Links" /></div>
</div>
</div>
<BR />
<input type="hidden" id="relatedDocItems" name="relatedDocItems" value="" />

##<a href="#" id="loadOptions">Retrieve Saved Links!!</a> <br />

##set($relatedDocItems = "") #set($relatedDocItems = $core_v2_widget.GetStringValue("relatedDocItems", ""))
#set($rd = $omnicell_v1_utility.GetRelatedDocumentsByGroupId($widgetId))
#set($relatedDocItems = "") #set($relatedDocItems = $rd.DocumentValues)

##INITIAL STRING: $relatedDocItems<BR>
#set($iListResponse = $core_v2_utility.Split(";", $relatedDocItems))
##set($stringResponse = $core_v2_utility.Describe($iListResponse))
##LIST: $stringResponse<BR>
#set($relatedDocUpdated = "")

#foreach($file in $iListResponse)
#each
    #set($iElement = $core_v2_utility.Split(",", $file))
    #set($fileID = 0)
    #set($fileID = $core_v2_utility.ParseInt($iElement.get_item(0)))
    #set($fileName = $iElement.get_item(1))
    #set ($media = false)
    #set($media = $omnicell_v1_document.Get($fileID))
    #set($stringResponse = $core_v2_utility.Describe($media))
    #set ($relatedDocUpdated = "$relatedDocUpdated$fileID,$media.Title;")    
#afterall

#end
## FINAL STRING: $relatedDocUpdated<BR>
#set($relatedDocItems=$relatedDocUpdated)

<script type="text/javascript">

jQuery('#VersionNumber').blur(function()
{
    if( $(this).val() ) {
          alert ("Value: " + $(this).val());
    }
});

jQuery(document).ready(function() {
    jQuery("#sortable1,#sortable2").sortable({
        connectWith: ".connectedSortable"
    });
});
jQuery("#saveOptions").click(function() {
    
    /*
    need to abstract block below and add option to urlEncode string
    return string for this routine and for the filter drop downs
    http://www.w3schools.com/jsref/jsref_encodeuricomponent.asp
    */
    var olSelItems = "";
    jQuery("#sortable2").find('li').each(function() {
        var olVal = jQuery(this).find('.olVal').html();
        var olTxt = jQuery(this).find('.olTxt').html();
        olSelItems+= olVal +","+ olTxt + ";";
    });
    // set to field for postback and save
    jQuery("#relatedDocItems").val(olSelItems);
    
});


jQuery(document).ready(function() {
    var olPropertyValue = "$relatedDocItems";
    
    if(olPropertyValue != "") {
        var olSelItems = olPropertyValue.split(';');
        for(var i = 0; i< olSelItems.length-1; i++){
            var nv = olSelItems[i].split(',');
            var htmlItem = "<li><span class=\"olVal\">"+nv[0]+"</span><span class=\"olTxt\">"+nv[1]+"</span></li>";
            jQuery("#sortable2").append(htmlItem);                
            jQuery("#sortable1 li:contains('" + nv[0] + "')").remove();
        }
    }
    
});

</script>


</div>

#foreach($media in $documentMedias)
#beforeall
    <div class="table-list-header"></div>
	<table class="table-list">
		<tbody>
	</table>
<div class="documents-post-list">
	<ul class="table-list" style="list-style-type: none; list-style-position: inside; list-style-image: none; padding-left: 0px; width:699px;">
#each

## - mhunter - start off each document with the ability to show it
###set($showDoc = true)

## - mhunter - if filterAllGroups then check to see if context user is a member of one of the associated products
###if($filterAllGroups == "true")
##    #set($showDoc = false)
##    #foreach($group in $media.Groups)
##    	#set($groupUser = false)
        
##    	#set($groupUser = $core_v2_groupUserMember.Get($group.Id, "%{UserId=$core_v2_user.Accessing.Id}"))
          
##    	#if ($groupUser != false && $groupUser.IsDirectMember)
##    		#set($showDoc = true)
##    	#end
##    #end
    
###end

## - mhunter - show this media post if conditions to see it are met
##if($showDoc)
##	<li class="table-item" style="clear:both; width:699px;">
##		<div class="table-column" style="float:left; width:269px; min-height:25px;border-bottom:none;">
##			<div class="abbreviated-post-header"></div>
##			<div class="abbreviated-post">
##				<h4 class="post-name"><a href="$core_v2_encoding.HtmlAttributeEncode($media.Url)" class="internal-link view-post"><span></span>$media.Title</a></h4>
##			</div>
##			<div class="abbreviated-post-footer"></div>
##		</div>
	
##---Next line is the Type column---##    
##---Next line is Product column---##
##---Next line is Rating column---##
    
##	</li>
##end    
    
#nodata
	<div class="message norecords">$core_v2_language.GetResource('NoRecords')</div>
#afterall
		</ul>
</div>
		<div class="table-list-footer"></div>
    $core_v2_ui.Pager($documentMedias.PageIndex, $documentMedias.PageSize, $documentMedias.TotalCount)
#end


