$core_v2_page.AddLink("stylesheet", $core_v2_widget.GetExecutedFileUrl('online.css'))
#set($fetchGroupId = $core_v2_page.ParseQueryString($core_v2_widget.GetCustomValue('parentGroup', 'Group=25')).Value("Group"))
#set($userId = $core_v2_user.Accessing.Id)

#set($parent = $core_v2_utility.ParseInt($fetchGroupId))
#set($userId = $core_v2_user.Accessing.Id)

#set($groupUser = $core_v2_groupUserMember.Get($parent, "%{UserId = $userId}"))
#set($roles = $core_v2_role.List("%{UserId = $userId}"))
#set($administratorsRoleString = "Administrators")
#set($IsAdmin = false)

#foreach($role in $roles)
    #if($role.Name == $administratorsRoleString)
        #set($IsAdmin = true)
    #end
#end
#set($IsOwner = false)
#if($groupUser.MembershipType == "Owner")
    #set($IsOwner = true)
#end

#set($IsManager = false)
#if($groupUser.MembershipType == "Manager")
    #set($IsManager = true)
#end

#if ($IsOwner == false && $IsManager == false)
    $core_v2_widget.Hide()
#end


#set ($productsGroupId = $core_v2_page.ParseQueryString($core_v2_widget.GetCustomValue('productsGroup','Group=5')).Value('Group'))

#set($galleryType = $core_v2_widget.GetStringValue('viewType','documents'))
#set($viewType = false)
##set($viewType = $core_v2_page.GetQueryStringValue('GalleryViewType'))

#set ($gallery = false)
#set ($gallery = $core_v2_gallery.Current)
#if ($galleryType == "detect" && $gallery!= false)
	#if ($gallery.Name == "Documentation")
		#set($galleryType = "documents")
	#else
		#set($galleryType = "training")
	#end
#end

##<p>$gallery.Name</p>
##<p>$galleryType </p>

#if ($viewType)
	#set($core_v2_media.CurrentViewType = $viewType)
#else
	#set($viewType = $core_v2_media.CurrentViewType)
#end
#set($sortBy = $core_v2_page.GetQueryStringValue('GalleryPostSort'))
#if (!$sortBy || $sortBy == '')
	#set($sortBy = 'Subject')
#end

#set($sort = $core_v2_page.GetQueryStringValue('Sort'))
#if (!$sort || $sort == '')
    #set($sort = 'titlesort+asc')
#end

#set($pageIndex = $core_v2_ui.GetCurrentPageIndex())
#set($sortOrder = $core_v2_page.GetQueryStringValue('SortOrder'))
#if (!$sortOrder || $sortOrder == '')
	#set($sortOrder = 'Ascending')
#end
#set($medias = false)
#set($config = $core_v2_page.ParseQueryString($core_v2_widget.GetCustomValue('selectedMediaGalleryOrGroup','')))

#set($queryOptions = "%{}")

#if ($config.Values('MediaGallery').Count == 1)
##<BR>MEDIA GALLERY ONE<BR>
    #set($galleryId = false)
	#foreach($selectedGalleryId in $config.Values('MediaGallery'))
		#if($selectedGalleryId == '0' || $selectedGalleryId == '-1')
			#set($galleryId = $core_v2_gallery.Current.Id)
		#else
			#set($galleryId = $selectedGalleryId )
		#end
	#end

	#set($gallery = $core_v2_gallery.Get("%{Id = $galleryId}"))
	#set($queryOptions = "%{GalleryId=$galleryId,PageSize=200,PageIndex=$pageIndex,SortOrder=$sortOrder,SortBy=$sortBy}")
#elseif ($config.Values('MediaGallery').Count > 0)
##<BR>MEDIA GALLERY ZERO<BR>
    #set($galleryList = false)
	#foreach($galleryId in $config.Values('MediaGallery'))
		#if($galleryId == '0')
			#set($galleryId = $core_v2_gallery.Current.Id)
		#end
		#if($galleryId > 0)
			#if(!$galleryList)#set($pattern = "^(.*)+asc(.*)?")
            
            #set($match = $core_v2_utility.IsMatch($sort, $pattern))
            
            #if($match == "True")
                #set($alternateSortOrder = "+desc")
                #set($SortOrder = "Descending")
            #else
                 #set($alternateSortOrder = "+asc")
                 #set($SortOrder = "Ascending")
            #end
            
            <script type="text/javascript">
                var filterAllGroupsCheckbox = jQuery("#$core_v2_widget.UniqueId('filterAllGroupsCheckbox')");
            
                function showhide(Id) {
                    var show = $('.showToggle_' + Id).html();
                    
                    if(show == "All...") {
                        $('.shmedia_'+ Id).show();
                        $('.showToggle_' + Id).html("Show Less");
                    }
                    else {
                        $('.shmedia_'+ Id).hide();
                        $('.showToggle_' + Id).html("All...");
                    }
                }
               jQuery(function(){
                   $("[class*='shmedia']").hide();    
            	jQuery("#$core_v2_widget.UniqueId('filterAllGroupsCheckbox')").change(function()
            	{
            		if($(this).is(':checked')) 
            		{
            			//$(this).attr('checked', 'checked');
            			var url = "$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_group.Current.Url, 'FilterAllGroups=true,GroupId='))";
                        url = url.split('?');
            			window.location = url[0];
            		}
            		else
            		{
            			//$(this).attr('checked',''); 
            			var url = "$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_group.Current.Url, 'FilterAllGroups=false'))";
            			window.location = url;
            		}
            
            		return false;
            	});
            
            	
            });
            </script>
            
            
            #if ($filterAllGroups == "true")
            #set($checked = "")
            #set($checked = "checked")
            #end
            
            <div class="filter detail">
                <div class="">
                    <span class="">Filter Documents</span>
                </div>
                <div style="width:100%;margin-left:10px;">
            ## SMR - Add the other three types of filters		
                    <div style="float:left;margin-left:10px;">
            			$core_v2_widget.ExecuteFile('product-list.vm')
            		</div>
                    <div style="float:left;margin-left:10px;">
                    	$core_v2_widget.ExecuteFile('feature-list.vm')
                    </div>
                    <div style="float:left;margin-left:10px;">
                        <span>Version:</span><BR />
                        <input type="text" id="VersionNumber" />
                    </div>
                    <div style="float:left;margin-left:10px;">
            		    $core_v2_widget.ExecuteFile('interface-list.vm')
            	    </div>            
                </div>
                <div class="clear"></div>
            </div>
            
            <BR />
            
            TEST  <BR />
            
            <div>
            
            <script type="text/javascript">
            
            
            
            </script>
            
            <select id="olRelatedDocs">
                <option value="test 1">test 1</option>
                <option value="test 2">test 2</option>
                <option value="test 3">test 3</option>
                <option value="test 4">test 4</option>
            </select>
            
            </div>
            
            
            /END TEST <BR />
            
            #foreach($media in $documentMedias)
            #beforeall
            	<div class="table-list-header"></div>
            	<table class="table-list">
            		<tbody>
            	</table>
            <div class="documents-post-list">
            	<ul class="table-list" style="list-style-type: none; list-style-position: inside; list-style-image: none; padding-left: 0px; width:699px;">
            #each
            
            ## - mhunter - start off each document with the ability to show it
            #set($showDoc = true)
            
            ## - mhunter - if filterAllGroups then check to see if context user is a member of one of the associated products
            #if($filterAllGroups == "true")
                #set($showDoc = false)
                #foreach($group in $media.Groups)
                	#set($groupUser = false)
            
                	#set($groupUser = $core_v2_groupUserMember.Get($group.Id, "%{UserId=$core_v2_user.Accessing.Id}"))
                      
                	#if ($groupUser != false && $groupUser.IsDirectMember)
                		#set($showDoc = true)
                	#end
                #end
                
            #end
            
            ## - mhunter - show this media post if conditions to see it are met
            ##if($showDoc)
            	<li class="table-item" style="clear:both; width:699px;">
            		<div class="table-column" style="float:left; width:269px; min-height:25px;border-bottom:none;">
            			<div class="abbreviated-post-header"></div>
            			<div class="abbreviated-post">
            				<h4 class="post-name"><a href="$core_v2_encoding.HtmlAttributeEncode($media.Url)" class="internal-link view-post"><span></span>$media.Title</a></h4>
            			</div>
            			<div class="abbreviated-post-footer"></div>
            		</div>
            	
            ##---Next line is the Type column---##    
            ##---Next line is Product column---##
            ##---Next line is Rating column---##
                
            	</li>
            ##end    
                
            #nodata
            	<div class="message norecords">$core_v2_language.GetResource('NoRecords')</div>
            #afterall
            		</ul>
            </div>
            		<div class="table-list-footer"></div>
                $core_v2_ui.Pager($documentMedias.PageIndex, $documentMedias.PageSize, $documentMedias.TotalCount)
            #end
				#set($galleryList = "$galleryId")
			#else
				#set($galleryList = "$galleryList,$galleryId")
			#end
		#end
	#end
	#set($queryOptions = "%{GalleryIds=$galleryList,PageSize=$pageSize,PageIndex=$pageIndex,SortOrder=$sortOrder,SortBy=$sortBy}")
#elseif ($core_v2_utility.ParseInt($config.Value('Group')) > 0)
##<BR>GROUP > 0<BR>
	#set($group = $core_v2_utility.ParseInt($config.Value('Group')))
	#if ($group == 0)
		#set($group = $core_v2_group.Current.Id)
	#end
	#if($group > 0)
		#set($queryOptions = "%{GroupId=$group,PageSize=$pageSize,PageIndex=$pageIndex,IncludeSubGroups=$core_v2_utility.ParseBool($config.Value('IncludeSubGroups')),SortOrder=$sortOrder,SortBy=$sortBy}")
	#end
#else
##<BR>CURRENT GALLERY<BR>
	#if ($core_v2_gallery.Current)
		#set($gallery = $core_v2_gallery.Current)
		#if ($core_v2_group.Current.Id != $gallery.Group.Id)
			#set($queryOptions = "%{GalleryId=$gallery.Id,GroupId=$core_v2_group.Current.Id,PageSize=$pageSize,PageIndex=$pageIndex,SortOrder=$sortOrder,SortBy=$sortBy}")
		#else
			#set($queryOptions = "%{GalleryId=$gallery.Id,PageSize=$pageSize,PageIndex=$pageIndex,SortOrder=$sortOrder,SortBy=$sortBy}")
		#end
	#else
		#set($queryOptions = "%{GroupId=$core_v2_group.Current.Id,PageSize=$pageSize,PageIndex=$pageIndex,SortOrder=$sortOrder,SortBy=$sortBy}")
	#end
#end

#set($filterAllGroups = "true")
#set($filterAllGroups = $core_v2_page.GetQueryStringValue('FilterAllGroups'))

#set($filterGroupId = false)
#set($filterGroupId = $core_v2_page.GetQueryStringValue('FilterGroupId'))
#set($filterFormatId = false)
#set($filterFormatId = $core_v2_page.GetQueryStringValue('FilterFormatId'))
#set($filterDocumentId = false)
#set($filterDocumentId = $core_v2_page.GetQueryStringValue('FilterDocumentId'))
#set($currDocType = $core_v2_utility.ParseInt($core_v2_page.GetQueryStringValue('FilterDocumentId')))

#set($featureListId = $core_v2_page.GetQueryStringValue('FeatureListId'))
#set($interfaceListId = $core_v2_page.GetQueryStringValue('InterfaceListId'))
#set($versionId = $core_v2_page.GetQueryStringValue('VersionNumber'))

##<p>Interfaces: $interfaceListId </p><br />
##<p>Feature: $featureListId </p><br />
##<p>Gallery Id: $galleryId </p><br /><br />
##$filterGroupId<br />
##$filterFormatId<br />
##$filterDocumentId<br />
##<p>Version: $versionId</p></br>

#if($filterGroupId != false)
    #if($queryOptions.Contains("GroupId"))
		$queryOptions.Remove("GroupId")
	#end
	$queryOptions.Add("Product", $filterGroupId)
#end

##$core_v2_utility.Describe($queryOptions)
#if($galleryType == 'documents')
	#if($filterDocumentId != false)
		$queryOptions.Add("DocumentType", $filterDocumentId)
    #end
    
    ## this if block will add the members groups to the query options if show just my products is selected
#if($currentGroup.Key == 'documents' || $currentGroup.Key == 'tech-documents' || $currentGroup.Key == 'service-biomed' || $currentGroup.Key == 'general-communications' || $currentGroup.Key == 'alerts-bulletins') 
    ## this is the original
#else
    ## else for individual product pages
    #if($queryOptions.Contains("MediaGalleryTypeId"))
            $queryOptions.Remove("MediaGalleryTypeId")
        #end
        
        #if($queryOptions.Contains("SortOrder"))
        	$queryOptions.Remove("SortOrder")
        #end
        
        #if($queryOptions.Contains("SortBy"))
        	$queryOptions.Remove("SortBy")
        #end
        
        #if($queryOptions.Contains("GalleryId"))
        	$queryOptions.Remove("GalleryId")
        #end
    
    $queryOptions.Add("Sort", $sort)
    
    #if($interfaceListId != false)
        $queryOptions.Add("Interfaces", $interfaceListId)
    #end
    #if ($featureListId != false)
        $queryOptions.Add("Features", $featureListId)
    #end
    #if ($VersionId != false)
        $queryOptions.Add("Versions", $VersionId)
    #end

    #set($dgId = $core_v2_utility.ParseInt($galleryId))
    #set($documentMedias = $omnicell_v1_document.ProductList($dgId, $queryOptions))
    
    #if($filterDocumentId != false)
    	$queryOptions.Remove("DocumentTypeId")
    #end
#end

#end

$core_v2_widget.ExecuteFile('standard.vm')

#registerEndOfPageHtml()
	<script type="text/javascript" src="/cfs-file.ashx/__key/communityserver-components-sitefiles/jquery.jcarousel.min.js"></script>
         	<script type="text/javascript">
	//<![CDATA[
		jQuery(function(){
			jQuery('.omnicarousel').jcarousel({
			        // Configuration goes here
				vertical: true
			});
		

		});
	//]]&gt;
	</script>
#end