#set ($queryType = $core_v2_widget.GetStringValue('queryType', 'context'))
#set ($pageIndex = $core_v2_ui.GetCurrentPageIndex())
#set ($pageSize = 10)
#set ($user = false)
#if ($queryType == 'accessing')
	#set ($user = $core_v2_user.Accessing)
#elseif($queryType == 'context')
	#set ($user = $core_v2_user.Current)
#end

#set ($bookmarks = $core_v2_bookmark.List("%{ UserId = $user.Id, PageSize = $pageSize, PageIndex = $pageIndex }"))
#foreach ($bookmark in $bookmarks)
#beforeall
	<div class="content-list-header"></div>
	<ul class="content-list simple">
#each
	<li class="content-item">
		<a class="internal-link view-post" href="$core_v2_encoding.HtmlAttributeEncode($bookmark.Content.Url)"><span></span>$bookmark.Content.HtmlName("Web")</a>
	</li>
#afterall
	</ul>
	<div class="content-list-footer"></div>
	$core_v2_ui.Pager($bookmarks.PageIndex, $bookmarks.PageSize, $bookmarks.TotalCount , "%{ PagedContentFile = 'simple.vm' }")
#nodata
	<div class="message norecords">
		$core_v2_language.FormatString($core_v2_language.GetResource('Profile_NoFavoritePosts'), $user.DisplayName)
	</div>
#end
