#set($viewType = $core_v2_widget.GetStringValue('viewType', 'standard'))
$core_v2_widget.ExecuteFile("view-${viewType}.vm")

#set($fetchGroupId = $omnicell_v1_fetch.FetchParentGroup.Id)
#set($userId = $core_v2_user.Accessing.Id)
#set($IsOwner = false)
#set($IsOwner = $omnicell_v1_implementationroom.IsOwner($fetchGroupId, $userId))

#set($IsManager = false)
#set($IsManager = $omnicell_v1_implementationroom.IsManager($fetchGroupId, $userId))

#set($IsAdmin = false)
#set($IsAdmin = $omnicell_v1_implementationroom.IsAdmin())

##OWNER: $IsOwner<BR>
##MANAGER: $IsManager<BR>
##ADMIN: $IsAdmin<BR>

#if ($IsManager==false && $IsOwner==false)
    $core_v2_widget.Hide()
#end

#registerEndOfPageHtml('telligent.evolution.widgets.blogPostList')
	<script type="text/javascript" src="$core_v2_encoding.HtmlAttributeEncode($core_v2_widget.GetFileUrl('ui.js'))"></script>
#end
#registerEndOfPageHtml()
	<script type="text/javascript">
	//<![CDATA[
	jQuery.telligent.evolution.widgets.blogPostList.register({
		wrapper: "#$core_v2_widget.WrapperElementId",
		listUrl: "$core_v2_encoding.JavascriptEncode($core_v2_widget.GetExecutedFileUrl('callback-standard-list.vm'))",
		detailUrl: "$core_v2_encoding.JavascriptEncode($core_v2_widget.GetExecutedFileUrl('callback-standard-detail.vm'))",
		viewType: "$core_v2_encoding.JavascriptEncode($viewType)"
	});
	//]]>
	</script>
#end