$core_v2_page.SetContentType("text/css")

.content-fragment.group-links .navigation-item .internal-link span {
  background-image: url('/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/icon_2D00_sprite.gif');
  background-repeat: no-repeat;
  position: absolute;
  top: 3px;
  left: 0;
  width: 10px;
  height: 10px;
  line-height: 10px;
}

.content-fragment.group-links .navigation-item .internal-link {
  position: absolute;
  line-height: 15px;
  padding-left: 18px;
  display: inline;
  font-weight: normal;
}

.content-fragment.group-links .navigation-item {
  border-bottom: 1px dotted #ccc;
  position: relative;
  height: 22px;
}

.content-fragment.group-links .navigation-item .internal-link.view-invite span {
  background-position: 0 -728px;
}

.content-fragment.group-links .navigation-item .internal-link.edit-group-membership span {
  background: url('/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/icon_2D00_sprite.gif') 0 -943px no-repeat;
}

.group-links .navigation-list .navigation-item {
  margin: 0;
  padding: .25em 0;
}

.content-fragment-page .content-fragment.with-header .content-fragment-header {
  background-image: -moz-linear-gradient(53% 3% 180deg,rgb(146,203,99) 0%,rgb(101,159,53) 100%);
  background-image: -webkit-gradient(linear,53% 3%,53% 97%,color-stop(0, rgb(146,203,99)),color-stop(1, rgb(101,159,53)));
  background-image: -webkit-linear-gradient(180deg,rgb(146,203,99) 0%,rgb(101,159,53) 100%);
  background-image: -o-linear-gradient(180deg,rgb(146,203,99) 0%,rgb(101,159,53) 100%);
  background-image: -ms-linear-gradient(180deg,rgb(146,203,99) 0%,rgb(101,159,53) 100%);
  background-image: linear-gradient(180deg,rgb(146,203,99) 0%,rgb(101,159,53) 100%);
  border-color: rgb(226,226,225);
  border-width: 1px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  border-style: solid;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff92cb63,endColorstr=#ff659f35,GradientType=0)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff92cb63,endColorstr=#ff659f35,GradientType=0);
  color: #FFF !important;
  font-size: 20px !important;
  padding: 8px 0 8px 10px !important;
  margin-bottom: 1em;
  font-weight: bold;
  line-height: 1em;
  letter-spacing: -1px;
}
