<div class="abbreviated-post-header"></div>
<div class="abbreviated-post">
    <h4 class="post-name">$thread.Subject</h4>
</div>
<div class="abbreviated-post-header"></div>
<div class="content-list-header"></div>
<ul class="content-list">
#foreach($post in $posts)
    #if ($post.PostLevel == 1)
    <li class="content-item post-starter">
        $core_v2_widget.ExecuteFile("view-post.vm")
    </li>
    #else
    <li class="content-item">
        $core_v2_widget.ExecuteFile("view-post.vm")
    </li>
    #end
#end
</ul>
<div class="content-list-footer"></div>
