<select name="SelectedEntityTypeId" id="$selectedEntityHtmlId">

#if ($selectedEntityTypeId == -1)
    <option value="-1" selected="true">Select an entity type</option>
#end

#foreach($lookupTypeId in $lookupTypes.Keys)
	#set ($selectedString = "")
	#if ($lookupTypeId == $selectedEntityTypeId)
		#set ($selectedString = "selected='true'")
	#end
	<option value="$lookupTypeId" $selectedString>$lookupTypes.get_item($lookupTypeId)</option>
#end

</select>
