.thread-list .title-header { /*background: #ccc; font-size: 21px; width: 97%; padding: 9px 15px;*/ 
    background-image:-moz-linear-gradient(53% 3% 180deg,rgb(146,203,99) 0%,rgb(101,159,53) 100%); 
    -background-image:-webkit-gradient(linear,53% 3%,53% 97%,color-stop(0, rgb(146,203,99)),color-stop(1, rgb(101,159,53)));
    -background-image:-webkit-linear-gradient(180deg,rgb(146,203,99) 0%,rgb(101,159,53) 100%);
    background-image:-o-linear-gradient(180deg,rgb(146,203,99) 0%,rgb(101,159,53) 100%);
    background-image:-ms-linear-gradient(180deg,rgb(146,203,99) 0%,rgb(101,159,53) 100%);
    -background-image:linear-gradient(180deg,rgb(146,203,99) 0%,rgb(101,159,53) 100%);
    border-color:rgb(226,226,225);
    border-width:0px;
    -moz-border-radius:1px;
    -webkit-border-radius:1px;
    border-radius:1px;
    border-style:solid;
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff92cb63,endColorstr=#ff659f35,GradientType=0)";
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff92cb63,endColorstr=#ff659f35,GradientType=0);
    color: #FFF;
    font-size: 16px;
    padding: 5px 5px 3px 10px;

}

.thread-list .title-header span { float: right; color: #fff; font-size: 10px; margin-top: 7px; }
.thread-list .title-header span a { color: #FFF; font-size: 10px; text-decoration: underline; margin-right: 0px; }
