#set ($pageSize = $core_v2_widget.GetIntValue('pageSize', 15))
#set ($pageIndex = $core_v2_ui.GetCurrentPageIndex())
#set ($popularOnly = $core_v2_widget.GetBoolValue('popularOnly', false))
#set ($forumOrGroup = $core_v2_page.ParseQueryString($core_v2_widget.GetStringValue('selectedForumOrGroup', '')))
#set ($currentForum = $core_v2_forum.Current)
#set ($forumId = -1)
#set ($groupId = -1)
#set ($includeSubGroups = false)
#set ($sortOrder = $core_v2_page.GetQueryStringValue("SortOrder"))
#set ($sortBy = $core_v2_page.GetQueryStringValue("ThreadSortBy"))
#set ($isRegistered = $core_v2_user.IsRegistered($core_v2_user.Accessing.Id))

#if (!$sortOrder)
	#set ($sortOrder = $core_v2_widget.GetStringValue('sortOrder', 'descending'))
#end
#set ($sortOrder = $sortOrder.ToLower())

#if (!$sortBy)
	#set ($sortBy = $core_v2_widget.GetStringValue('sortBy', 'dateTime'))
#end

#set ($sortBy = $sortBy.ToLower())
#if ($sortBy == 'datetime' || $sortBy == 'lastpost')
	#set($sortBy = 'lastpost')
#elseif ($sortBy == 'replies' || $sortBy == 'totalreplies')
	#set($sortBy = 'replies')
#elseif ($sortBy == 'views')
	#set($sortBy = 'views')
#else
	#set($sortBy = 'topic')
#end

#if ($forumOrGroup.Value('Forum'))
	#set($forumId = $core_v2_utility.ParseInt($forumOrGroup.Value('Forum')))
#elseif ($forumOrGroup.Value('Group'))
	#set($includeSubGroups = $core_v2_utility.ParseBool($forumOrGroup.Value('IncludeSubGroups')))
	#set ($groupId = $core_v2_utility.ParseInt($forumOrGroup.Value('Group')))
#end

#set ($queryType = $core_v2_page.GetQueryStringValue("Sort"))
#set ($threadFilter = $core_v2_page.GetCookieValue("ThreadFilter"))
#if (!$queryType && $threadFilter)
	#if ($threadFilter == "UnAnsweredOnly")
		#set ($queryType = "Unanswered")
	#elseif ($threadFilter == "UnReadOnly")
		#set ($queryType = "UnReadOnly")
	#elseif ($threadFilter == "UserFilter")
		#set ($queryType = "Your")
	#else
		#set ($queryType = "active")
	#end
#end

#if ($queryType == "Unanswered")
	#set ($queryType = "unanswered")
	$core_v2_page.SetCookieValue("ThreadFilter", "UnAnsweredOnly")
#elseif ($queryType == "UnReadOnly" && $isRegistered)
	#set ($queryType = "unread")
	$core_v2_page.SetCookieValue("ThreadFilter", "UnReadOnly")
#elseif ($queryType == "Your" && $isRegistered)
	#set ($queryType = "mythreads")
	$core_v2_page.SetCookieValue("ThreadFilter", "UserFilter")
#else
	#set ($queryType = "active")
	$core_v2_page.SetCookieValue("ThreadFilter", "Active")
#end

#if ($forumId < 1 && $groupId < 1)
	#if ($core_v2_forum.Current)
		#set ($forumId = $core_v2_forum.Current.Id)
	#elseif ($core_v2_group.Current)
		#set ($groupId = $core_v2_group.Current.Id)
	#end
#end

#if ($groupId != -1)
	#set($threads = $core_v2_forumThread.List($queryType, "%{GroupId = '$groupId', SortBy = '$sortBy', SortOrder = '$sortOrder', PopularOnly = $popularOnly, IncludeSubGroups = $includeSubGroups, PageSize = $pageSize, PageIndex = $pageIndex}"))
#else
	#set($threads = $core_v2_forumThread.List($queryType, "%{ForumId = '$forumId', GroupId = '$groupId', SortBy = '$sortBy', SortOrder = '$sortOrder', PopularOnly = $popularOnly, IncludeSubGroups = $includeSubGroups, PageSize = $pageSize, PageIndex = $pageIndex}"))
#end

<div class="filter">
    <div class="view-type">
    
        	#if ($isRegistered)
    ##				<span class="separator">|</span>
    ##			#if ($queryType == "unread")
    ##            <span class="filter-option selected">
    ##			#else
    ##				<span class="filter-option">
    ##			#end
    ##					<a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, "Sort=UnReadOnly&$core_v2_ui.PageIndexQueryStringKey=1"))"><span></span>$core_v2_language.GetResource("Unread")</a>
    ##				</span>
    ##				<span class="separator">|</span>
    			#if ($queryType == "mythreads")
    				<span class="filter-option selected">
    			#else
    				<span class="filter-option">
    			#end
    					<a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, "Sort=Your&$core_v2_ui.PageIndexQueryStringKey=1"))"><span></span>$core_v2_language.GetResource("Forums_YourDiscussions")</a>
    				</span>
    		#end
    
 
		#if ($queryType == "active")
			<span class="filter-option selected">
		#else
			<span class="filter-option">
		#end
				<a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, "Sort=Active&$core_v2_ui.PageIndexQueryStringKey=1"))"><span></span>$core_v2_language.GetResource("AllRecent")</a>
			</span>
			<span class="separator">|</span>
##		#if ($queryType == "unanswered")
##			<span class="filter-option selected">
##		#else
##			<span class="filter-option">
##		#end	
##				<a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, "Sort=Unanswered&$core_v2_ui.PageIndexQueryStringKey=1"))"><span></span>$core_v2_language.GetResource("Unanswered")</a>
##			</span>


	</div>
</div>

#foreach($thread in $threads)
#beforeall
<div class="table-list-header"></div>
<table class="table-list">
	<thead>
		<tr class="table-header">
			<th class="table-header-column post-author"></th>
			<th class="table-header-column author-sort">
				#if ($sortBy == "topic" && $sortOrder == "ascending")
					<a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, 'ThreadSortBy=Subject&SortOrder=Descending'))" class="internal-link sort-ascending selected"><span></span>$core_v2_language.GetResource("ViewThreads_FilterByTopic")</a>
				#elseif ($sortBy == "topic" && $sortOrder == "descending")
					<a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, 'ThreadSortBy=Subject&SortOrder=Ascending'))" class="internal-link sort-descending selected"><span></span>$core_v2_language.GetResource("ViewThreads_FilterByTopic")</a>
				#else
					<a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, 'ThreadSortBy=Subject&SortOrder=Ascending'))" class="internal-link sort-descending"><span></span>$core_v2_language.GetResource("ViewThreads_FilterByTopic")</a>
				#end
			</th>
			<th class="table-header-column date-sort">
				#if ($sortBy == "lastpost" && $sortOrder == "ascending")
					<a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, 'ThreadSortBy=LastPost&SortOrder=Descending'))" class="internal-link sort-ascending selected"><span></span>$core_v2_language.GetResource("Date")</a>
				#elseif ($sortBy == "lastpost" && $sortOrder == "descending")
					<a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, 'ThreadSortBy=LastPost&SortOrder=Ascending'))" class="internal-link sort-descending selected"><span></span>$core_v2_language.GetResource("Date")</a>
				#else
					<a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, 'ThreadSortBy=LastPost&SortOrder=Ascending'))" class="internal-link sort-descending"><span></span>$core_v2_language.GetResource("Date")</a>
				#end
			</th>
			<th class="table-header-column total-replies-sort">
				#if ($sortBy == "replies" && $sortOrder == "ascending")
					<a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, 'ThreadSortBy=TotalReplies&SortOrder=Descending'))" class="internal-link sort-ascending selected"><span></span>$core_v2_language.GetResource("ViewThreads_TitleReplies")</a>
				#elseif ($sortBy == "replies" && $sortOrder == "descending")
					<a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, 'ThreadSortBy=TotalReplies&SortOrder=Ascending'))" class="internal-link sort-descending selected"><span></span>$core_v2_language.GetResource("ViewThreads_TitleReplies")</a>
				#else
					<a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, 'ThreadSortBy=TotalReplies&SortOrder=Ascending'))" class="internal-link sort-descending"><span></span>$core_v2_language.GetResource("ViewThreads_TitleReplies")</a>
				#end
			</th>
		</tr>
	</thead>
	<tbody>
#each
	#if ($core_v2_forumUrls.Thread($thread.Id))
	<tr class="table-item" style="width:100%;vertical-align:top;">
		<td class="table-column post-author" style="width:17%;">
			#if ($core_v2_user.IsRegistered($thread.Author.Id))
				<span class="avatar"><a href="$core_v2_urls.User($thread.Author.Id)">$core_v2_ui.GetResizedImageHtml($thread.Author.AvatarUrl,32,32,"%{alt=$thread.Author.DisplayName, style='border-width: 0px;'}")</a></span>
				<span class="user-name"><a href="$core_v2_urls.User($thread.Author.Id)" class="internal-link view-user-profile">$thread.Author.DisplayName</a></span>
			#else
				<span class="avatar">$core_v2_ui.GetResizedImageHtml($thread.Author.AvatarUrl,32,32,"%{alt=$thread.Author.DisplayName, style='border-width: 0px;'}")</span>
				<span class="user-name">$thread.Author.DisplayName</span>
			#end
		</td>
		<td class="table-column post-name" style="width:50%;">
			#if ($thread.HasRead)
				<div class="abbreviated-post-header read"></div>
				<div class="abbreviated-post read">
			#else
				<div class="abbreviated-post-header unread"></div>
				<div class="abbreviated-post unread">
			#end
			#if ($thread.IsAnnouncement)
				<div class="post-summary announcement">$core_v2_language.GetResource("Announcement")</div>
				<h4 class="post-name with-summary">
			#elseif ($thread.IsSticky)
				<div class="post-summary sticky">$core_v2_language.GetResource("Sticky")</div>
				<h4 class="post-name with-summary">
			#else
				<h4 class="post-name">
			#end
					<a href="$core_v2_forumUrls.Thread($thread.Id)" class="internal-link view-post forum"><span></span>$core_v2_language.Truncate($thread.Subject, 65, "...")</a></h4>
				</h4>
##			#if (!$currentForum)
##				<div class="post-application">
##					$core_v2_language.GetResource("Postedto"):
##					<a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_forumUrls.Forum($thread.ForumId))"><span></span>$core_v2_forum.Get($thread.ForumId).Name</a>
##				</div>
##			#end
			</div>
			#if ($thread.HasRead)
				<div class="abbreviated-post-footer read">
			#else
				<div class="abbreviated-post-footer unread"></div>
			#end
		</td>
		<td class="table-column post-status" style="width:20%;">
			#if ($thread.ThreadType == "QuestionAndAnswer" && $thread.ThreadStatus == "NotAnswered")
				<div class="abbreviated-post-header not-answered"></div><div class="abbreviated-post not-answered"><div class="post-thumbnail" title='$core_v2_language.GetResource("Status_NotAnswered")'></div>
			#elseif ($thread.ThreadType == "QuestionAndAnswer" && $thread.ThreadStatus == "Answered")
				<div class="abbreviated-post-header verified-answered"></div><div class="abbreviated-post verified-answered"><div class="post-thumbnail" title='$core_v2_language.GetResource("Status_VerifiedAnswer")'></div>
			#elseif ($thread.ThreadType == "QuestionAndAnswer" && $thread.ThreadStatus == "AnsweredNotVerified")
				<div class="abbreviated-post-header suggested-answered"></div><div class="abbreviated-post suggested-answered"><div class="post-thumbnail" title='$core_v2_language.GetResource("Status_SuggestedAnswer")'></div>
			#elseif ($thread.ThreadType == "QuestionAndAnswer" && $thread.ThreadStatus == "NotSet")
				<div class="abbreviated-post-header not-answered"></div><div class="abbreviated-post not-answered"><div class="post-thumbnail" title='$core_v2_language.GetResource("Status_NotAnswered")'></div>
			#elseif ($thread.ThreadType == "Discussion")
				<div class="abbreviated-post-header discussion"></div><div class="abbreviated-post discussion"><div class="post-thumbnail" title='$core_v2_language.GetResource("Forums_DiscussionThreadType")'></div>
			#else
				<div class="abbreviated-post-header"></div><div class="abbreviated-post">
			#end
				#if ($thread.LatestForumReplyId > 0)
				<div class="post-attributes">
					<a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_forumUrls.ForumReply($thread.LatestForumReplyId))" class="internal-link view-post forum">$core_v2_language.GetResource("ForumGroupView_Inline4")</a>
				</div>
				<span class="user-name">
					<div class="post-author">
						#set ($latestPostDisplayName = $core_v2_user.Get("%{Id = $thread.LatestForumReplyAuthorId}").DisplayName)
						$core_v2_language.GetResource("by")
						#if ($core_v2_urls.User($thread.LatestForumReplyAuthorId))
							<a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_urls.User($thread.LatestForumReplyAuthorId))" class="internal-link view-user-profile">$core_v2_language.Truncate("$latestPostDisplayName", 15, "...")</a>
						#else
							$core_v2_language.Truncate("$latestPostDisplayName", 15, "...")
						#end
					</div>
				</span>
				#else
				<div class="post-attributes">
					<a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_forumUrls.Thread($thread.Id))" class="internal-link view-post forum">$core_v2_language.GetResource("ForumGroupView_Inline4")</a>
				</div>
				<span class="user-name">
					<div class="post-author">
						#set ($latestPostDisplayName = $thread.Author.DisplayName)
						$core_v2_language.GetResource("by")
						#if ($core_v2_urls.User($thread.Author.Id))
							<a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_urls.User($thread.Author.Id))" class="internal-link view-user-profile">$core_v2_language.Truncate("$latestPostDisplayName", 15, "...")</a>
						#else
							$core_v2_language.Truncate("$latestPostDisplayName", 15, "...")
						#end
					</div>
				</span>
				#end
				<div class="post-date">
					<span class="value">$core_v2_language.FormatDateAndTime($thread.Date)</span>
				</div>
			#if ($thread.ThreadType == "QuestionAndAnswer" && $thread.ThreadStatus == "NotAnswered")
				</div><div class="abbreviated-post-footer not-answered"></div>
			#elseif ($thread.ThreadType == "QuestionAndAnswer" && $thread.ThreadStatus == "Answered")
				</div><div class="abbreviated-post-footer verified-answered"></div>
			#elseif ($thread.ThreadType == "QuestionAndAnswer" && $thread.ThreadStatus == "AnsweredNotVerified")
				</div><div class="abbreviated-post-footer suggested-answered"></div>
			#elseif ($thread.ThreadType == "Discussion")
				</div><div class="abbreviated-post-footer discussion"></div>
			#else
				</div><div class="abbreviated-post-footer"></div><div class="abbreviated-post">
			#end
		</td>
		<td class="table-column total-replies" style="width:8%;">
			<div class="abbreviated-post-header"></div>
			<div class="abbreviated-post">
				<div class="post-attributes">
					<div class="attribute-list-header"></div>
					<ul class="attribute-list">
						<li class="attribute-item post-reply-count">
							<span class="attribute-name">$thread.ReplyCount</span>
						</li>
					</ul>
					<div class="attribute-list-footer"></div>
				</div>
			</div>
			<div class="abbreviated-post-footer"></div>
		</td>
	</tr>
	#end
#afterall
	</tbody>
</table>
<div class="table-list-footer"></div>
#nodata
	<div class="message norecords">$core_v2_language.GetResource("ViewThreads_NoTopics")</div>
#end

$core_v2_ui.Pager($threads.PageIndex, $threads.PageSize, $threads.TotalCount)