$core_v2_page.SetContentType("text/css")


.content-fragment.thread-list .table-column.post-author .avatar a {
  display: none;
}

.content-fragment.thread-list .filter-option {
  padding: 7px 7px 3px 7px !important;
  border-collapse: collapse;
}

.content-fragment.thread-list .filter-option.selected {
  background: #fff;
}

.thread-list span.filter-option.selected {
  margin-bottom: -1px;
  position: relative;
  padding-bottom: 6px;
}

.content-fragment.thread-list .filter .filter-option.selected a {
  background-color: white !important; 
	color: #52524a !important;
}

.content-fragment.thread-list .filter-option {
  float: left;
  height: 26px !important;
}

.content-fragment.thread-list .filter .separator {
  float: left;
  width: 1px;
  padding: 35px 0 0 0;
  display: -moz-inline-box;
  display: inline-block;
  overflow: hidden;
}

.thread-list .filter .filter-option {
  display: inherit !important;
}

.thread-list .filter .filter-option a {
	padding: initial !important;
	border: none !important;
}

.thread-list .filter {
  display: block !important;
}

.content-fragment.thread-list .filter {
  position: relative !important;
  padding: 15px 0 3px 0 !important;
  margin: inherit !important;
  height: 42px !important;
}

.content-fragment.thread-list .abbreviated-post .post-summary.sticky {
  color: #3BAF64;
  text-transform: uppercase;
}

.content-fragment.thread-list .table-item {
  border-bottom: 1px dotted #ccc;
}

.thread-list .table-list .table-item .table-column {
	padding: 7px 0;
	border-bottom: none;
}

.content-fragment.thread-list .abbreviated-post .post-summary {
  margin: 0;
  font-size: 11px;
}

.thread-list .abbreviated-post {
  font-size: 12px;
  min-height: 0;
}

.content-fragment.thread-list .abbreviated-post.discussion {
  overflow: hidden;
  position: relative;
  padding-left: 20px !important;
  left: 20px;
}

 .content-fragment.thread-list .table-column.total-replies {
  padding-right: 10px !important;
}

.content-fragment.thread-list .table-column.total-replies .abbreviated-post {
  padding: 8px !important;
}

.content-fragment.thread-list .abbreviated-post.discussion .post-thumbnail {
  top: 16px;
  width: 14px;
  height: 14px;
  position: absolute;
  left: 0;
}

.content-fragment.thread-list .abbreviated-post .post-name {
  font-weight: bold;
  margin: 0;
  font-size: 16px;
  line-height: 14px;
}

.content-fragment.thread-list .abbreviated-post.discussion .post-attributes {
  color: #666;
  position: absolute;
  width: 65px;
  height: 16px;
  left: 20px;
}

.content-fragment.thread-list .table-column.post-status .post-attributes .internal-link.view-post.forum {
  white-space: nowrap;
}

.content-fragment-content {
  height: 0.1%;
}

.content-fragment.thread-list .abbreviated-post.not-answered .post-thumbnail {
  display: inline-block;
  float: left;
  margin-left: -2.2em;
}

.content-fragment.thread-list .abbreviated-post.not-answered .post-date {
  margin-left: -6px;
}

.content-fragment.thread-list .message {
    font-size: 14px;
    font-weight: bold;
    margin: 1em 1em 1em 0;
    text-transform: uppercase;
    font-style: normal;
}

.content-fragment.thread-list .message.norecords {
    background-color: #cadbee;
    border: 1px solid #300;
    color: #000;
    padding: 12px;
}
