##set($pageSize = $core_v2_widget.GetIntValue('simplePageSize',10))
#set($pageIndex = $core_v2_ui.GetCurrentPageIndex())
#set ($pageSize = $core_v2_widget.GetIntValue('tabPagesize', 2))


#set($medias = false)

#set($queryOptions = "%{}")

#if ($config.Values('MediaGallery').Count == 1)
    #set($galleryId = false)
    #foreach($selectedGalleryId in $config.Values('MediaGallery'))
		#if($selectedGalleryId == '0' || $selectedGalleryId == '-1')
			#set($galleryId = $core_v2_gallery.Current.Id)
		#else
			#set($galleryId = $selectedGalleryId )
		#end
	#end

	#set($gallery = $core_v2_gallery.Get("%{Id = $galleryId}"))
	#if ($activeGroup != false)
##		#set($queryOptions = "%{GalleryId=$galleryId,GroupId=$activeGroup,PageSize=$pageSize,PageIndex=$pageIndex,SortOrder=$sortOrder,SortBy=$sortBy}")
		#set($queryOptions = "%{GalleryId=$galleryId,GroupId=$activeGroup,PageSize=$pageSize,PageIndex=$pageIndex,SortOrder='Descending',SortBy='PostDate'}")
	#else
##		#set($queryOptions = "%{GalleryId=$galleryId,PageSize=$pageSize,PageIndex=$pageIndex,SortOrder=$sortOrder,SortBy=$sortBy}")
		#set($queryOptions = "%{GalleryId=$galleryId,PageSize=$pageSize,PageIndex=$pageIndex,SortOrder='Descending',SortBy='PostDate'}")
	#end
    
#elseif ($config.Values('MediaGallery').Count > 0)
	#set($galleryList = false)
	#foreach($galleryId in $config.Values('MediaGallery'))
		#if($galleryId == '0')
			#set($galleryId = $core_v2_gallery.Current.Id)
		#end
		#if($galleryId > 0)
			#if(!$galleryList)
				#set($galleryList = "$galleryId")
			#else
				#set($galleryList = "$galleryList,$galleryId")
			#end
		#end
	#end
	#set($queryOptions = "%{GalleryIds=$galleryList,PageSize=$pageSize,PageIndex=$pageIndex,SortOrder='Descending',SortBy='PostDate'}")
#elseif ($core_v2_utility.ParseInt($config.Value('Group')) > 0)
	#set($group = $core_v2_utility.ParseInt($config.Value('Group')))
	#if ($group == 0)
		#set($group = $core_v2_group.Current.Id)
	#end
	#if($group > 0)
		#set($groups = $core_v2_group.List("%{ParentGroupId=$group,PageSize=$pageSize,PageIndex=$pageIndex,IncludeSubGroups=true,UserId=$core_v2_user.Accessing.Id}"))
		#set($galleryList = false)
		#foreach($group in $groups)
			#set($gallery = false)
	                  #set($gallery = $core_v2_gallery.Get("%{GroupId = $group.Id, Key = $activeMediaKey}"))
			#if($gallery && $gallery.Id > 0)
				#if(!$galleryList)
					#set($galleryList = "$gallery.Id")
				#else
					#set($galleryList = "$galleryList,$gallery.Id")
				#end
			#end
		#end

		#set($queryOptions = "%{GalleryIds=$galleryList,PageSize=$pageSize,PageIndex=$pageIndex,SortOrder=$sortOrder,SortBy=$sortBy}")

##		#set($medias = $core_v2_media.List("%{GroupId=$group,PageSize=$pageSize,PageIndex=$pageIndex,IncludeSubGroups=$core_v2_utility.ParseBool($config.Value('IncludeSubGroups')),SortOrder=$sortOrder,SortBy=$sortBy}"))

	#end
#else
	#if ($core_v2_gallery.Current)

		#set($queryOptions = "%{GalleryId=$core_v2_gallery.Current.Id,PageSize=$pageSize,PageIndex=$pageIndex,SortOrder='Descending',SortBy='PostDate'}")

	#elseif ($activeGroup != 1)
                  #set($gallery = $core_v2_gallery.Get("%{GroupId = $activeGroup, Key = $activeMediaKey}"))
		#set($queryOptions = "%{GalleryId=$gallery.Id,PageSize=$pageSize,PageIndex=$pageIndex,SortOrder='Descending',SortBy='PostDate'}")
	#else

		#set($queryOptions = "%{GroupId=$core_v2_group.Current.Id,PageSize=$pageSize,PageIndex=$pageIndex,SortOrder='Descending',SortBy='PostDate',IncludeSubGroups='True'}")
	#end
#end

##$queryOptions.Add("MediaGalleryTypeId", $mediaGalleryTypeId)
##<p style="display:none">$core_v2_utility.Describe($queryOptions)</p>

#set($medias = $omnicell_authentication.ListMedia($queryOptions))


#if(!$medias)
##	$core_v2_widget.Hide()
#end

#foreach($media in $medias)
#beforeall
	<div class="content-list-header simple"></div>
	<ul class="content-list simple">
#each
	#set($groupUser = false)
	#foreach($currentGroupId in $media.GroupIds)
		#if ($groupUser == false)
			#set($groupUser = $core_v2_groupUserMember.Get($currentGroupId, "%{UserId=$core_v2_user.Accessing.Id}"))
		#end
	#end
	#if ($groupUser != false && $groupUser.IsDirectMember)

		<li class="content-item simple">
			<div class="abbreviated-post-header"></div>
			<div class="abbreviated-post">
				<h4 class="post-name"><a href="$core_v2_encoding.HtmlAttributeEncode($media.Url)" class="internal-link view-post"><span></span>$media.Title</a></h4>
    
    
    
            <div style="margin:5px 5px;"><span style="font-size:11px;color:#999;">Product(s):<br /></span>
                		#foreach($group in $media.Groups)
            	#set($groupUser = false)
            	#set($groupUser = $core_v2_groupUserMember.Get($group.Id, "%{UserId=$core_v2_user.Accessing.Id}"))
            	#if ($groupUser != false && $groupUser.IsDirectMember)
            		<a href="$core_v2_encoding.HtmlAttributeEncode($group.Url)" class="internal-link view-post product-name">$group.Name<br></a>
            	#end
            #end
            
            
            </div>







##				<div class="post-author">
##					$core_v2_language.GetResource('postedby')
##					<span class="user-name" style="display:inline;">
##						#if ($media.Author.ProfileUrl)
##							<a href="$core_v2_encoding.HtmlAttributeEncode($media.Author.ProfileUrl)">$core_v2_language.Truncate($media.Author.DisplayName, 15, '...')</a>
##						#else
##							$core_v2_language.Truncate($media.Author.DisplayName, 15, '...')
##						#end
##					</span>
##				</div>
			</div>
##			<div class="abbreviated-post-footer"></div>
		</li>
	#end
#afterall
	</ul>
	<div class="content-list-footer simple"></div>
#nodata

	<div class="message norecords">No Items were found.</div>
	##$core_v2_widget.Hide()
#end
$medias.PageIndex
$medias.PageSize
$medias.Count
$core_v2_ui.Pager($medias.PageIndex, $medias.PageSize, $medias.Count)

