#set($curGroup = $core_v2_group.Current)
#set($pGroupId = $curGroup.ParentGroupId)

#set($widgetId = $core_v2_utility.ParseInt($core_v2_widget.WrapperElementId.Replace("fragment-", "")) )

##WIDGET ID: $widgetId<BR>
###set($widgetId=17924)

#set($rd = $omnicell_v1_utility.GetRelatedDocumentsByWidgetId($widgetId))
#set($relatedDocList = "") #set($relatedDocList = $rd.DocumentValues)

<div>
    <ul class="sidebar_links" id="relateddocslist">        
    </ul>
</div>

<script type="text/javascript">
// retrieve the links and build the HTML
jQuery(document).ready(function() {
    var olPropertyValue = "$relatedDocList";
    
    if(olPropertyValue != "") {        
        var olSelItems = olPropertyValue.split(';');
        for(var i = 0; i< olSelItems.length-1; i++){
            var nv = olSelItems[i].split(',');
            var htmlItem = "<li><a href=\"/documents/m/documents/" + nv[0] + "/download.aspx\" class=\"internal-link view-post\">";
            htmlItem += "<span class=\"olTxt\">"+nv[1]+"</span><a></li>";
            jQuery("#relateddocslist").append(htmlItem);                
        }

    }
});

</script>